/////////
// Fonts
/////////

$base-font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
$base-font-size: 16;
$base-font-weight: normal;
$base-line-height: 1.5;
$base-color: #000;
$base-bg: #fff;

//////////////
// FONT SIZES
//////////////

// FS OPTION (em,px,pt)
$default-fs-option: 'px';
// FONT SIZE XS
$font-sizes: 16;
// FONT SIZE MD
$font-sizes-md: 16;

//////////////
// FONT WEIGHTS
//////////////

$font-weights: 500 600 800 900;

//////////
// Colors
//////////

$primary-color: rgb(175, 175, 202);
$secondary-color: rgb(153, 17, 17);
$theme-color: rgb(21, 110, 128);

$white: #ffffff;
$gray100: #aaaaaa;
$gray200: #f4f4f4;
$gray300: #d6d6d6;
$gray400: #f0f0f1;
$gray500: #f5f5f5;
$gray600: #ededed;
$gray700: #f1f1f1;
$gray800: #d9d9d9;
$gray900: #d1d5d4;
$gray1000: #e9e9e9;
$green100: #318e67;
$green200: #005937;
$green300: #014a2e;
$dgray100: #333333;
$dgray200: #bfbfbf;
$dgray300: #2e2e2e;
$dgray400: #bdbdbd;
$dgray500: #3d3d3d;
$dgray600: #6d6d6d;
$dgray700: #1f1f1f;
$dgray800: #5f5f5f;
$black100: #080808;
$dblue100: #00004e;

//////////////
// Containers
//////////////

$default-container: 1180;
$default-container-md: 751;

//////////////
// Padding left & right
//////////////

$default-pl: 30;

//////////
// MARGINS
//////////

// Margin TOP XS
$margin-top: 0 10;
// Margin TOP MD
$margin-top-md: 0 10;
// Margin BOTTOM XS
$margin-bottom: 0 30 50 100;
// Margin BOTTOM MD
$margin-bottom-md: 0 50 100;

//////////
// PADDINGS
//////////

// Padding TOP XS
$padding-top: 0 10;
// Padding TOP MD
$padding-top-md: 0 10;
// Padding BOTTOM XS
$padding-bottom: 0 10;
// Padding BOTTOM MD
$padding-bottom-md: 0 10;

//////////
// GAPS & GRIDS
//////////

// GAP XS
$gap_xs : 0 15;
// GAP MD
$gap_md : 0 10 15 30 35 40;

// GRID XS
$cols_xs : 0 6 12;
// GRID MD
$cols_md : 0 3 4 5 6 7 8 12;