footer {
	position: relative;
	padding-top: 45px;
	border-top: 2px solid $gray1000;
	.ft-l {
		@include mq(max, $default-container-md - 1) {
			text-align: center;
		}
		.logo {
			display: block;
			max-width: 170px;
			width: 100%;
			margin-bottom: 20px;
			@include mq(max, $default-container-md - 1) {
				max-width: 160px;
				margin-bottom: 15px;
				margin-left: auto;
				margin-right: auto;
			}
		}
		p {
			color: $dgray500;
			font-size: 13px;
		}
	}
	.ft-r {
		@include mq(max, $default-container-md - 1) {
			display: none;
		}
		.footer-links {
			display: block;
			li {
				margin-bottom: 20px;
				&:last-child {
					margin-bottom: 0;
				}
				a {
					text-decoration: none;
					color: $dgray700;
					font-size: 12px;
					font-weight: normal;
					span {
						position: relative;
						display: block;
						padding-left: 20px;
						&:before {
							content: "";
							background: url('../img/ico_ar.png');
							background-size: cover;
							background-repeat: no-repeat;
							width: 6px;
							height: 10px;
							position: absolute;
							left: 0;
							top: 0;
							bottom: 0;
							margin: auto;
						}
					}
				}
			}
		}
	}
	.copyright {
		background-color: $green300;
		font-size: 12px;
		padding: 20px 0;
		margin-top: 30px;
		@include mq(min, 568) {
			margin-top: 50px;
		}
	}
	.footer-phone{
		color: #3d3d3d;
		text-decoration: none;
	}
}