.main-menu{
	background-color: $white;
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	right: 0;
	.cntr{
		@include mq(max, 750){
			padding: 0;
		}
	}
}
.head {
	
	display: flex;
	align-items: center;
	justify-content: space-between;
	@include mq(max, $default-container-md - 1) {
		flex-wrap: wrap;
		padding-bottom: 0;
	}
	.main-header {
		position: relative;
		margin-left: 0;
		
		@include mq(max, $default-container-md - 1) {
			flex: 0 0 100%;
			max-width: 100%;
			padding: 10px 40px;
		}
		@include mq(max, 568) {
			padding: 10px 20px;
		}
		.logo {
			max-width: 147px;
			width: 100%;
			margin: auto;
			a {
				display: block;
			}
		}
	}
}

#toggle-nav {
	position: absolute;
	right: calc(97% - 40px);
	top: 0;
	bottom: 0;
	margin: auto;
	display: inline-block;
	width: 25px;
	height: 20px;
	cursor: pointer;
	outline: none;
	transition: all ease-in .3s;
	@include mq(min, 568) {
		width: 25px;
	}
	@include mq(min, $default-container-md) {
		display: none;
	}
	span {
		display: block;
		position: absolute;
		width: 100%;
		height: 1px;
		background-color: $dgray300;
		top: 0;
		left: 0;
		transition: ease-in-out .3s;
		&:nth-child(2) {
			top: 35%;
			@include mq(min, 568) {
				top: 48%;
			}
		}
		&:last-child {
			top: unset;
			bottom: 25%;
			@include mq(min, 568) {
				bottom: 0;
			}
		}
	}
	@include mq(max, $default-container-md - 1) {
		&.is-on {
			top: 0;
			right: 0;
			background-color: $dgray400;
			width: 10%;
			height: 100%;
			transition: all ease-in .3s;
			span {
				width: 25%;
				left: 0;
				top: 0;
				bottom: 0;
				right: 0;
				margin: auto;
				transform: rotate(-45deg);
				background-color: $white;
				transition: ease-in-out .5s;
				&:nth-child(2) {
					width: 0%;
					top: 48%;
					transform: rotate(0);
				}
				&:last-child {
					transform: rotate(45deg);
				}
			}
		}
	}
	@include mq(min, $default-container-md) {
		&:hover {
			span {
				top: 50%;
				transform: rotate(-45deg);
				transition: ease-in-out .3s;
				height: 2px;
				&:nth-child(2) {
					width: 0%;
					top: 48%;
					transform: rotate(0);
				}
				&:last-child {
					transform: rotate(45deg);
				}
			}
		}
	}
}