.sec {
	padding: 50px 0;
	@include mq(min, $default-container-md) {
		padding: 70px 0;
	}
}
.sec-news {
	.news {
		margin-bottom: 30px;
		@include mq(min, 568) {
			margin-bottom: -20px;
		}
		@include mq(min, $default-container-md) {
			margin-bottom: 30px;
		}
		.owl-dots {
			text-align: center;
			margin-top: 30px;
			.owl-dot {
				background-color: $gray900;
				border: none;
				padding: 6px!important;
				font: inherit;
				border-radius: 10em;
				margin-right: 15px;
				&.active {
					background-color: $green200;
				}
			}
		}
	}
}
.sub-infos {
	@include txt(16, 1.5, 600);
	color: $dgray500;
	display: block;
	margin-bottom: 50px;
	@include mq(min, 568) {
		font-size: 16px;
		line-height: 28px;
	}
	@include mq(min, $default-container-md) {
		font-size: 18px;
		line-height: 35px;
	}
	span{
		color: #005937;
	}
	&.v2{
		font-size: 15px;
		line-height: 25px;
		text-align: left;
		margin: auto auto 50px auto;
		width: 700px;
		@include mq(max, 900){
			width: 100%;
		}
	}
}

.column-category {
	padding-left: 10px;
	padding-right: 10px;
	@include mq(max, $default-container-md - 1) {
		padding-left: 0;
		padding-right: 0;
	}
}
.w-1000 {
	max-width: 1000px;
	width: 100%;
	@include mq(max, 1000) {
		padding-left: 20px;
		padding-right: 20px;
	}
}
.recruit-href{
	color: #fff;
	display: block;
	text-decoration: none;
}
.sec-recruit {
	position: relative;
	min-height: 300px;
	padding-top: 120px;
	padding-bottom: 50px;
	background: url('../img/p8_5.jpg') center center/ cover no-repeat;
	@include mq(min, 568) {
		min-height: 400px;
	}
	@include mq(min, $default-container-md) {
		padding-top: 190px;
		height: 390px;
		background: url('../img/p8_5.jpg') center center/ cover no-repeat;
	}
	p{
		line-height: 28px;
	}
	a{
		color: #fff;
		text-decoration: none;
	}
}

.scroll-top {
	position: relative;
	padding: 45px 30px 30px 30px;
}
#toTop {
	position: relative;
	display: inline-block;
	margin-top: 5px;
	width: 20px;
	height: 20px;
	border-top: 2px solid $dgray800;
	border-left: 2px solid $dgray800;
	transform: rotate(45deg);
}

.search-wrp{
	display: none;
	position: fixed;
	z-index: 999;
	width: 100%;
	top: 0;
	transition: all 0.5s ease-in-out;
	transform: translate(0px, -100%) scale(0, 0);
	.overlay{
		background: rgba(255,255,255,0.95);
		height: 100vh;
		padding-top: 30px;
	}
	.search-form{
		position: relative;
		.close{
			background: transparent;
			border: none;
			color: #318e67;
			cursor: pointer;
			font-size: 40px;
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto 0;
		}
		form{
			input.search{
				background-color: transparent;
				color: #757575;
				font-size: 30px;
				font-weight: 700;
				width: 100%;
				border-left: 0;
				border-right: 0px;
				border-top: 0px;
				border-bottom: 1px solid #ccc;
				padding: 25px 15px;
				&:focus{
					outline: none;
				}
			}
		}
	}
}

.open{
	.search-wrp{
		display: block;
		transform: translate(0px, 0px) scale(1, 1);
	}
	.head{
		opacity: 0;
	}
}

.sec-company{
	margin-top: 71px;
	@include mq(max, 750){
		margin-top: 71px;
	}
	.company-box{
		background-color: #eeeeee;
		padding-top: 50px;
		padding-bottom: 100px;
		@include mq(max, 750){
			padding-top: 40px;
			padding-bottom: 70px;
		}
		.cntr{
			@include mq(max, 750){
				padding-left: 10px;
				padding-right: 10px;
			}
		}
		.company-content{
			background-color: #fff;
			padding: 80px;
			@include mq(max, 810){
				padding: 50px 20px;
			}
			.company-sales-img{
				margin-bottom: 100px;
			}
			.company-global-office{
				.globe-map{
					display: none;
					@include mq(max, 1180){
						display: block;
					}
					@include mq(max, 750){
						display: none;
					}
				}
				.company-map{
					background: url('../img/pic_office_map.png');
					background-repeat: no-repeat;
					background-position: 0 0;
					margin-bottom: 55px;
					margin: 160px auto 0 auto;
					width: 100%;
					height: 592px;
					position: relative;
					transform: scale(1);
					@include mq(max, 1180){
						display: none;
					}
					.list-office{
						position: relative;
						li{
							position: absolute;
							&::after, &::before{
								content: "";
								display: block;
								background-repeat: no-repeat;
								background-position: 0 0;
								position: absolute;
								left: 0;
								top: 0;
							}
							&::after{
								width: 12px;
								height: 12px;
								background-image: url('../img/icn_office_point.png');							
							}
							.area{
								font-size: 24px;
								letter-spacing: 0.05em;
								font-weight: normal;
							}
							.txt{
								color: #59585b;
								font-size: 15px;
								line-height: 1.5;
								letter-spacing: 0.05em;
								margin-top: 5px;
							}
							.since{
								color: #507b4f;
								font-size: 12px;
								font-weight: bold;
							}
						}
						.tokyo{
							left: 435px;
							top: 258px;
							.cont{
								padding-left: 80px;
								padding-top: 15px;
							}
							&::before{
								width: 306px;
								height: 52px;
								background-image: url('../img/line_office_tokyo.png');
							}
							&::after{
								left: -4px;
								top: -6px;
							}
						}
						.sapporo{
							left: 178px;
							top: -91px;
							.cont{
								position: relative;
    							top: -35px;
							}
							&::before{
								width: 366px;
								height: 320px;
								background-image: url('../img/line_office_sapporo.png');
							}
							&::after{
								left: 260px;
								top: 315px;
							}
						}
						.silicon-valley{
							left: 635px;
							top: -91px;
							.cont{
								position: relative;
								top: -35px;
								left: 15px;
							}
							&::before{
								width: 258px;
								height: 350px;
								background-image: url('../img/line_office_siliconvalley.png');
							}
							&::after{
								left: 100px;
								top: 346px;
							}
						}
						.vietnam{
							left: 122px;
							top: 316px;
							.cont{
								position: relative;
								top: 205px;
								left: 5px;
							}
							&::before{
								width: 258px;
								height: 350px;
								background-image: url('../img/line_office_vietnam.png');
							}
							&::after{
								left: 209px;
								top: -8px;
							}
						}
					}
				}
				.btn{
					@include mq(max, 750){
						text-align: center;
					}
				}
				.company-global-cont{
					ul{
						margin-bottom: 35px;
						li{
							padding-left: 20px;
							position: relative;
							margin-bottom: 15px;
							&:last-child{
								margin-bottom: 0;
							}
							h4{
								font-size: 14px;
							}
							p{
								font-size: 12px;
							}
							.global-yer{
								color: #005937;
								display: block;
							}
							&::before{
								content: "";
								background-color: #005937;
								position: absolute;
								height: 10px;
								width: 10px;
								border-radius: 50%;
								left: 5px;
								top: 5px;
							}
						}
					}
				}
			}
			.company-access-box{
				margin-bottom: 100px;
				align-items: center;
				@include mq(max, 750){
					flex-direction: column-reverse;
					margin-bottom: 70px;
				}
				.xs-12{
					width: 100%;
				}
				&:last-child{
					margin-bottom: 0;
				}
				.company-access-cont{
					margin-top: 20px;
					@include mq(max, 750){
						margin-top: 15px;
					}
					p{
						font-size: 15px;
						margin-bottom: 25px;
					}
					.btn{
						@include mq(max, 750){
							text-align: center;
						}
					}
				}
				.access-img{
					background-color: #e0e0e0;
					height: 270px;
					width: 100%;
				}
			}
			.company-message-top{
				display: flex;
				position: relative;
				margin-bottom: 70px;
				@include mq(max, 750){
					display: inline-block;
					margin-bottom: 15px;
				}
				.company-message-name{
					background-color: #f7f6f6;
					position: absolute;
					bottom: 20px;
					right: 15%;
					padding: 25px;
					border-radius: 3px;
					h4{
						color: #3d3d3d;
						text-align: center;
						font-size: 15px;
						@include mq(max, 750){
							text-align: left;
							margin-top: 15px;
						}
						span{
							font-size: 25px;
							margin-left: 5px;
						}
					}
					@include mq(max, 750){
						background-color: #fff;
						position: static;
						padding: 0;
					}
				}
			}
			.company-message-cont{
				.gap{
					align-items: center;
					p{
						font-size: 14px;
						line-height: 24px;
					}
				}
				.aggresive{
					margin-bottom: 30px;
					p{
						@include mq(max, 750){
							margin-bottom: 30px;
						}
					}
				}
			}
		}
		.company-members{
			.member-box{
				position: relative;
				margin-bottom: 50px;
				.members-img{
					display: flex;
					z-index: -1;
				}
				.members-details{
					padding-left: 30px;
					padding-right: 30px;
					padding-bottom: 30px;
					position: relative;
					z-index: 1;
					margin-top: -35px;
					.btnv2{
						position: absolute;
						left: 0;
						right: 0;
						bottom: 0;
						padding-left: 30px;
						padding-right: 30px;
					}
					@include mq(max, 750){
						padding-left: 15px;
						padding-right: 15px;
					}
					.members-name{
						background-color: #fff;
						padding: 10px 0;
						h3{
							font-size: 20px;
							line-height: 25px;
							font-weight: 700;
						}
						h4{
							color: #507b4f;
							font-size: 12px;
						}
					}
					.members-cont{
						display: none;
						margin-bottom: 15px;
						p{
							color: #59585b;
							font-size: 14px;
							line-height: 24px;
							text-align: justify;
						}
					}
				}
			}
		}
		.company-office-tour{
			position: relative;
			.floor-img{
				text-align: center;
				.for-pc{
					display: block;
					@include mq(max, 1200){
						display: none;
					}
				}
				.for-sp{
					display: none;
					@include mq(max, 1200){
						display: block;
						margin: auto;
					}
					@include mq(max, 700){
						width: 100%;
					}
				}
			}
			.floor-list{
				@include mq(max, 1200){
					display: flex;
					flex-wrap: wrap;
					margin-left: -10px;
					margin-right: -10px;
					margin-top: 30px;
				}
				@include mq(max, 500){
					margin-left: -5px;
					margin-right: -5px;
				}
				li{
					display: flex;
					width: 210px;
					position: absolute;
					background-color: #fff;
					border: 2px solid #363;
					@include mq(max, 1200){
						position: static;
						padding-left: 10px;
						padding-right: 10px;
						border: none;
						flex: 0 0 33.33333%;
						max-width: 33.33333%;
						margin-bottom: 20px;
						position: relative;
					}
					@include mq(max, 500){
						padding-left: 5px;
						padding-right: 5px;
						margin-bottom: 10px;
					}
					.list-num{
						display: none;
						@include mq(max, 1200){
							display: block;
							position: absolute;
							background-color: #486639;
							color: #fff;
							font-weight: bold;
							padding: 2px 10px;
							border-right: 4px solid #fff;
							border-bottom: 4px solid #fff;
							margin-top: 2px;
							margin-left: 2px;
						}
						@include mq(max, 500){
							padding: 0 5px;
						}
						span{
							@include mq(max, 500){
								font-size: 12px;
							}
						}
					}
					a{
						transition: all 0.5s ease-in-out;
						&:hover{
							opacity: 0.5;
						}
						@include mq(max, 1200){
							border: 2px solid #363;
						}
					}
					img{
						padding: 3px;
					}
					&.entrance{
						position: absolute;
						top: 0;
						left: 85px;
						@include mq(max, 1200){
							position: static;
						}
					}
					&.reception{
						position: absolute;
						top: 0;
						left: 325px;
						@include mq(max, 1200){
							position: static;
						}
					}
					&.waiting-space{
						position: absolute;
						bottom: 0;
						left: 275px;
						@include mq(max, 1200){
							position: static;
						}
					}
					&.meeting-room01{
						position: absolute;
						top: 0;
						right: 12px;
						@include mq(max, 1200){
							position: static;
						}
					}
					&.meeting-room02{
						position: absolute;
						top: 180px;
						right: 12px;
						@include mq(max, 1200){
							position: static;
						}
					}
					&.meeting-room03{
						position: absolute;
						top: 355px;
						right: 12px;
						@include mq(max, 1200){
							position: static;
						}
					}
					&.meeting-room04{
						position: absolute;
						bottom: 0;
						right: 12px;
						@include mq(max, 1200){
							position: static;
						}
					}
					&.refresh-room01{
						position: absolute;
						bottom: 0;
						left: 30px;
						@include mq(max, 1200){
							position: static;
						}
					}
					&.refresh-room02{
						position: absolute;
						bottom: 180px;
						left: 30px;
						@include mq(max, 1200){
							position: static;
						}
					}
				}
			}
		}
	}
}

.sec-blog{
	margin-top: 71px;
	@include mq(max, 750){
		margin-top: 71px;
	}
	.blog-box{
		background-color: #eeeeee;
		padding-top: 50px;
		padding-bottom: 100px;
		.blog-wrap{
			.blog-cont{
				a{
					text-decoration: none;
					display: flex;
				}
				.core-technology{
					&.type-core-technology{
						display: none;
					}
				}
			}
		}
	}
	.blog-details{
		background-color: #eeeeee;
		padding-top: 70px;
		padding-bottom: 100px;
		.blog-detail-box{
			background: #fff;
			padding: 40px;
			@include mq(max, 750){
				margin-bottom: 40px;
				padding: 15px;
			}
			.blog-detail-header{
				border-bottom: 1px solid #cccccc;
				margin-bottom: 20px;
				.blog-detail-title{
					color: #444444;
					font-size: 25px;
					margin-bottom: 20px;
				}
				.blog-detail-date-cat{
					margin-bottom: 20px;
					h4{
						color: #444444;
						font-size: 15px;
						span{
							border: 1px solid #444;
							display: inline-block;
							font-size: 13px;
							margin-left: 10px;
							padding: 0 15px;
						}
					}
				}
			}
			.blog-detail-body{
				.blog-detail-img{
					display: flex;
					margin-bottom: 20px;
				}
				.blog-detail-cont{
					font-size: 17px;
					p{
						color: #444;
						margin-bottom: 30px;
					}
					h3{
						color: #444;
						border-bottom: 2px solid #444;
						font-size: 22px;
						font-weight: bold;
						padding-bottom: 5px;
						margin-bottom: 25px;
					}
					ul{
						border: 1px solid #d6d6d6;
						margin-bottom: 30px;
						padding: 30px;
						li{
							margin-bottom: 20px;
							&:last-child{
								margin-bottom: 0;
							}
						}
					}
					img{
						width: 100%;
						height: auto;
					}
					table{
						margin-bottom: 25px;
					}
					a{
						color: #ff6863;
						text-decoration: none;
						word-break: break-all;
					}
				}
			}
			.blog-detail-footer{
				.blog-related-list{
					li{
						padding: 20px 10px;
						border-top: 1px solid #cccccc;
						&:last-child{
							border-bottom: 1px solid #ccc;
						}
						.related-item{
							color: #444;
							display: flex;
							flex-wrap: wrap;
							align-items: center;
							text-decoration: none;
							.related-img{
								display: flex;
								flex: 0 0 30%;
								max-width: 30%;
								@include mq(max, 500){
									flex: 0 0 100%;
									max-width: 100%;
									margin-bottom: 15px;
								}
							}
							.related-cont{
								flex: 0 0 70%;
								max-width: 70%;
								padding-left: 15px;
								@include mq(max, 500){
									flex: 0 0 100%;
									max-width: 100%;
								}
								h3{
									font-size: 18px;
									font-weight: bold;
									margin-bottom: 13px;
								}
								h4{
									font-size: 15px;
									span{
										border: 1px solid #444;
										display: inline-block;
										font-size: 13px;
										margin-left: 10px;
										padding: 0 15px;
									}
								}
							}
						}
					}
				}
			}
		}
		.social-media-icon{
			margin-bottom: 15px;
			.social-media-list{
				display: flex;
				flex-wrap: wrap;
				li{
					margin-right: 15px;
					&:last-child{
						margin-right: 0;
					}
					a{
						color: #333;
						font-size: 20px;
					}
					&.fb{
						a{
							color: #4359ac;
						}
					}
					&.pin{
						a{
							color: #e6001a;
						}
					}
					&.twit{
						a{
							color: #1da0ee;
						}
					}
					&.pocket{
						a{
							color: #ef4156;
						}
					}
					&.line{
						a{
							color: #00b900;
						}
					}
					&.hatena{
						margin-right: 10px;
						a{
							img{
								width: 30px;
								height: 30px;
							}
						}
					}
				}
			}
		}
	}
}

.sec-contact{
	margin-top: 71px;
	.contact-box{
		background-color: #eeeeee;
		padding-top: 50px;
		padding-bottom: 100px;
		.cntr{
			@include mq(max, 750){
				padding-left: 15px;
				padding-right: 15px;
			}
		}
		.contact-content{
			background-color: #fff;
			padding: 80px;
			@include mq(max, 750){
				padding: 50px 30px;
			}
			@include mq(max, 425){
				padding: 30px 15px;
			}
			.contact-tagline{
				font-size: 15px;
				margin-bottom: 50px;
				a{
					color: #02437a;
				}
				@include mq(max, 750){
					text-align: left;
				}
			}
			.contact-btn{
				input{
					background-color: #318e67;
					border-top: 0;
					border-left: 0;
					border-right: 0;
					border-bottom: 2px solid #005937;
					border-radius: 3px;
					color: #fff;
					font-size: 20px;
					padding: 5px 20px;
					width: 320px;
					@include mq(max, 550){
						width: 100%;
					}
				}
			}
		}
	}
}

#news-section{
	.owl-item{
		@include mq(max, 499){
			padding: 0 25px;
		}
	}
}

.pagination{
	margin-top: 50px;
	ul{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		li{
			margin-right: 10px;
			@include mq(max, 375){
				margin-right: 3px;
			}
			&:last-child{
				margin-right: 0;
			}
			&.active{
				a{
					background: #444444;
					color: #fff;
				}
			}
			&.dots{
				a{
					background: transparent;
					border: none;
					padding: 0;
					pointer-events: none;
					&:hover{
						background: transparent;
						color: #444;
					}
				}
			}
			.current{
				background: #444444;
				color: #fff;
				display: inline-block;
				font-weight: bold;
				text-decoration: none;
				padding: 8px 16px;
			}
			a{
				background: #fff;
				border: 1px solid #e2e2e2;
				color: #444;
				display: inline-block;
				font-weight: bold;
				text-decoration: none;
				padding: 8px 16px;
				transition: all 0.5s ease-in-out;
				&:hover{
					background: #444;
					color: #fff;
				}
				@include mq(max, 550){
					padding: 3px 7px;
				}
			}
		}
	}
}

.company-modal{
	background: rgba(0, 0, 0, 0.5);
    display: none;
	align-items: center;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
	text-align: center;
	.company-modal-box{
		position: relative;
		.company-modal-img{
			padding: 0 65px;
			display: flex;
			flex-wrap: wrap;
			.company-modal-title{
				color: #fff;
				font-weight: bold;
				margin-bottom: 5px;
				padding-left: 15px;
			}
		}
		.modal-close{
			position: absolute;
			right: 70px;
			top: -50px;
			z-index: 9;
			span{
				cursor: pointer;
				color: #fff;
				font-size: 40px;
			}
		}
	}
	.owl-nav{
		button{
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			span{
				color: #fff;
				font-size: 60px;
			}
		}
		.owl-prev{
			left: 0;
		}
		.owl-next{
			right: 0;
		}
	}
}

.directions{
	a{
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		outline: 0;
		width: 34px;
    	height: 68px;
		text-indent: -9999px;
		z-index: 9999;
		&::before, &::after{
			content: "";
			display: block;
			width: 46px;
			height: 1px;
			background-color: #fff;
			position: absolute;
			left: -6px;
		}
		&::before{
			top: 16px;
		}
		&::after{
			top: 48px;
		}
	}
	.prev{
		left: 0;
		&::before{
			transform: rotate(-45deg);
		}
		&::after{
			transform: rotate(45deg);
		}
	}
	.next{
		right: 0;
		&::before{
			transform: rotate(45deg);
		}
		&::after{
			transform: rotate(-45deg);
		}
	}
}

.policy{
	color: #59585b;
	h4{
		margin-bottom: 15px;
	}
	p{
		font-size: 12px;
		line-height: 24px;
		margin-bottom: 15px;
	}
}
.policy-menu{
	display: flex;
	margin-top: 10px;
	@include mq(max, 750){
		justify-content: center;
	}
	li{
		margin-right: 15px;
		&:last-child{
			margin-right: 0;
		}
		a{
			color: #333;
			font-size: 13px;
			text-decoration: none;
		}
	}
}