@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  position: relative;
}

body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  font-weight: normal;
  margin: 0 auto !important;
  color: #080808;
}

.wrp {
  position: relative;
}

.cntr {
  max-width: 1180px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1180px) {
  .cntr {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.ov-hidden {
  overflow: hidden;
}

.is-wide {
  width: 100%;
  height: 100%;
}

.twhite {
  color: #ffffff !important;
}

.bg-gray {
  background-color: #f1f1f1;
}

.v-pc {
  display: none;
}

@media (min-width: 751px) {
  .v-pc {
    display: block;
  }
}

.v-sp {
  display: block;
}

@media (min-width: 751px) {
  .v-sp {
    display: none;
  }
}

.mlr-auto {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 750px) {
  .plr-0-xs {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

/** MODULES **/
/** MARGIN TOP **/
/** SP **/
.mt-0-xs {
  margin-top: 0px;
}

.mt-10-xs {
  margin-top: 10px;
}

/** PC **/
@media (min-width: 751px) {
  .mt-0 {
    margin-top: 0px !important;
  }
  .mt-10 {
    margin-top: 10px !important;
  }
}

/** END MARGIN TOP **/
/** MARGIN BOTTOM **/
/** SP **/
.mb-0-xs {
  margin-bottom: 0px;
}

.mb-30-xs {
  margin-bottom: 30px;
}

.mb-50-xs {
  margin-bottom: 50px;
}

.mb-100-xs {
  margin-bottom: 100px;
}

/** PC **/
@media (min-width: 751px) {
  .mb-0 {
    margin-bottom: 0px !important;
  }
  .mb-30 {
    margin-bottom: 30px !important;
  }
  .mb-50 {
    margin-bottom: 50px !important;
  }
  .mb-100 {
    margin-bottom: 100px !important;
  }
}

/** END MARGIN BOTTOM **/
/** PADDING TOP **/
/** SP **/
.pt-0-xs {
  padding-top: 0px;
}

.pt-10-xs {
  padding-top: 10px;
}

/** PC **/
@media (min-width: 751px) {
  .pt-0 {
    padding-top: 0px !important;
  }
  .pt-10 {
    padding-top: 10px !important;
  }
}

/** END PADDING TOP **/
/** PADDING BOTTOM **/
/** SP **/
.pb-0-xs {
  margin-bottom: 0px;
}

.pb-10-xs {
  margin-bottom: 10px;
}

/** PC **/
@media (min-width: 751px) {
  .pb-0 {
    margin-bottom: 0px !important;
  }
  .pb-10 {
    margin-bottom: 10px !important;
  }
}

/** END MARGIN BOTTOM **/
.fs-16-xs {
  font-size: 16px;
}

@media (min-width: 751px) {
  .fs-16 {
    font-size: 16px !important;
  }
}

.fw-500 {
  font-weight: 500px;
}

.fw-600 {
  font-weight: 600px;
}

.fw-800 {
  font-weight: 800px;
}

.fw-900 {
  font-weight: 900px;
}

/** LAYOUTS **/
.gap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  position: relative;
  /*gaps*/
  /*
	*
	* How to use gap classes :
	*
	*  Ex: <div class="gap gap-2 gap-0-xs">
	*			<div class="md-6 xs-12"></div>
	*			<div class="md-6 xs-12"></div>
	*		</div>
	*
	*/
  /********/
  /* EXTRA SMALL DEVICES */
  /********/
  /********/
  /* MEDIUM DEVICES */
  /********/
  /********/
  /* EXTRA SMALL DEVICES */
  /********/
  /********/
  /* MEDIUM DEVICES */
  /********/
}

.gap.gap-0-xs {
  margin-left: 0px;
  margin-right: 0px;
}

.gap.gap-0-xs > [class^="xs"] {
  padding-left: 0px;
  padding-right: 0px;
}

.gap.gap-0-xs > [class*=" xs"] {
  padding-left: 0px;
  padding-right: 0px;
}

.gap.gap-15-xs {
  margin-left: -15px;
  margin-right: -15px;
}

.gap.gap-15-xs > [class^="xs"] {
  padding-left: 15px;
  padding-right: 15px;
}

.gap.gap-15-xs > [class*=" xs"] {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 751px) {
  .gap.gap-0 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .gap.gap-0 > [class^="md"] {
    padding-left: 0px;
    padding-right: 0px;
  }
  .gap.gap-0 > [class*=" md"] {
    padding-left: 0px;
    padding-right: 0px;
  }
  .gap.gap-10 {
    margin-left: -10px;
    margin-right: -10px;
  }
  .gap.gap-10 > [class^="md"] {
    padding-left: 10px;
    padding-right: 10px;
  }
  .gap.gap-10 > [class*=" md"] {
    padding-left: 10px;
    padding-right: 10px;
  }
  .gap.gap-15 {
    margin-left: -15px;
    margin-right: -15px;
  }
  .gap.gap-15 > [class^="md"] {
    padding-left: 15px;
    padding-right: 15px;
  }
  .gap.gap-15 > [class*=" md"] {
    padding-left: 15px;
    padding-right: 15px;
  }
  .gap.gap-30 {
    margin-left: -30px;
    margin-right: -30px;
  }
  .gap.gap-30 > [class^="md"] {
    padding-left: 30px;
    padding-right: 30px;
  }
  .gap.gap-30 > [class*=" md"] {
    padding-left: 30px;
    padding-right: 30px;
  }
  .gap.gap-35 {
    margin-left: -35px;
    margin-right: -35px;
  }
  .gap.gap-35 > [class^="md"] {
    padding-left: 35px;
    padding-right: 35px;
  }
  .gap.gap-35 > [class*=" md"] {
    padding-left: 35px;
    padding-right: 35px;
  }
  .gap.gap-40 {
    margin-left: -40px;
    margin-right: -40px;
  }
  .gap.gap-40 > [class^="md"] {
    padding-left: 40px;
    padding-right: 40px;
  }
  .gap.gap-40 > [class*=" md"] {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.gap .xs-0 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 0%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 0%;
          flex: 0 0 0%;
  max-width: 0%;
}

.gap .xs-6 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.gap .xs-12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 751px) {
  .gap .md-0 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 0%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 0%;
            flex: 0 0 0%;
    max-width: 0%;
  }
  .gap .md-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .gap .md-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .gap .md-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66667%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .gap .md-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .gap .md-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .gap .md-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .gap .md-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.main-menu {
  background-color: #ffffff;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
}

@media (max-width: 750px) {
  .main-menu .cntr {
    padding: 0;
  }
}

.head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 750px) {
  .head {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding-bottom: 0;
  }
}

.head .main-header {
  position: relative;
  margin-left: 0;
}

@media (max-width: 750px) {
  .head .main-header {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    padding: 10px 40px;
  }
}

@media (max-width: 568px) {
  .head .main-header {
    padding: 10px 20px;
  }
}

.head .main-header .logo {
  max-width: 147px;
  width: 100%;
  margin: auto;
}

.head .main-header .logo a {
  display: block;
}

#toggle-nav {
  position: absolute;
  right: -webkit-calc(97% - 40px);
  right: -moz-calc(97% - 40px);
  right: calc(97% - 40px);
  top: 0;
  bottom: 0;
  margin: auto;
  display: inline-block;
  width: 25px;
  height: 20px;
  cursor: pointer;
  outline: none;
  -webkit-transition: all ease-in .3s;
  -o-transition: all ease-in .3s;
  -moz-transition: all ease-in .3s;
  transition: all ease-in .3s;
}

@media (min-width: 568px) {
  #toggle-nav {
    width: 25px;
  }
}

@media (min-width: 751px) {
  #toggle-nav {
    display: none;
  }
}

#toggle-nav span {
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #2e2e2e;
  top: 0;
  left: 0;
  -webkit-transition: ease-in-out .3s;
  -o-transition: ease-in-out .3s;
  -moz-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}

#toggle-nav span:nth-child(2) {
  top: 35%;
}

@media (min-width: 568px) {
  #toggle-nav span:nth-child(2) {
    top: 48%;
  }
}

#toggle-nav span:last-child {
  top: unset;
  bottom: 25%;
}

@media (min-width: 568px) {
  #toggle-nav span:last-child {
    bottom: 0;
  }
}

@media (max-width: 750px) {
  #toggle-nav.is-on {
    top: 0;
    right: 0;
    background-color: #bdbdbd;
    width: 10%;
    height: 100%;
    -webkit-transition: all ease-in .3s;
    -o-transition: all ease-in .3s;
    -moz-transition: all ease-in .3s;
    transition: all ease-in .3s;
  }
  #toggle-nav.is-on span {
    width: 25%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background-color: #ffffff;
    -webkit-transition: ease-in-out .5s;
    -o-transition: ease-in-out .5s;
    -moz-transition: ease-in-out .5s;
    transition: ease-in-out .5s;
  }
  #toggle-nav.is-on span:nth-child(2) {
    width: 0%;
    top: 48%;
    -webkit-transform: rotate(0);
       -moz-transform: rotate(0);
        -ms-transform: rotate(0);
         -o-transform: rotate(0);
            transform: rotate(0);
  }
  #toggle-nav.is-on span:last-child {
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (min-width: 751px) {
  #toggle-nav:hover span {
    top: 50%;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    -moz-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
    height: 2px;
  }
  #toggle-nav:hover span:nth-child(2) {
    width: 0%;
    top: 48%;
    -webkit-transform: rotate(0);
       -moz-transform: rotate(0);
        -ms-transform: rotate(0);
         -o-transform: rotate(0);
            transform: rotate(0);
  }
  #toggle-nav:hover span:last-child {
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

footer {
  position: relative;
  padding-top: 45px;
  border-top: 2px solid #e9e9e9;
}

@media (max-width: 750px) {
  footer .ft-l {
    text-align: center;
  }
}

footer .ft-l .logo {
  display: block;
  max-width: 170px;
  width: 100%;
  margin-bottom: 20px;
}

@media (max-width: 750px) {
  footer .ft-l .logo {
    max-width: 160px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

footer .ft-l p {
  color: #3d3d3d;
  font-size: 13px;
}

@media (max-width: 750px) {
  footer .ft-r {
    display: none;
  }
}

footer .ft-r .footer-links {
  display: block;
}

footer .ft-r .footer-links li {
  margin-bottom: 20px;
}

footer .ft-r .footer-links li:last-child {
  margin-bottom: 0;
}

footer .ft-r .footer-links li a {
  text-decoration: none;
  color: #1f1f1f;
  font-size: 12px;
  font-weight: normal;
}

footer .ft-r .footer-links li a span {
  position: relative;
  display: block;
  padding-left: 20px;
}

footer .ft-r .footer-links li a span:before {
  content: "";
  background: url("../img/ico_ar.png");
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  width: 6px;
  height: 10px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

footer .copyright {
  background-color: #014a2e;
  font-size: 12px;
  padding: 20px 0;
  margin-top: 30px;
}

@media (min-width: 568px) {
  footer .copyright {
    margin-top: 50px;
  }
}

footer .footer-phone {
  color: #3d3d3d;
  text-decoration: none;
}

.sec {
  padding: 50px 0;
}

@media (min-width: 751px) {
  .sec {
    padding: 70px 0;
  }
}

.sec-news .news {
  margin-bottom: 30px;
}

@media (min-width: 568px) {
  .sec-news .news {
    margin-bottom: -20px;
  }
}

@media (min-width: 751px) {
  .sec-news .news {
    margin-bottom: 30px;
  }
}

.sec-news .news .owl-dots {
  text-align: center;
  margin-top: 30px;
}

.sec-news .news .owl-dots .owl-dot {
  background-color: #d1d5d4;
  border: none;
  padding: 6px !important;
  font: inherit;
  -webkit-border-radius: 10em;
     -moz-border-radius: 10em;
          border-radius: 10em;
  margin-right: 15px;
}

.sec-news .news .owl-dots .owl-dot.active {
  background-color: #005937;
}

.sub-infos {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
  color: #3d3d3d;
  display: block;
  margin-bottom: 50px;
}

@media (min-width: 568px) {
  .sub-infos {
    font-size: 16px;
    line-height: 28px;
  }
}

@media (min-width: 751px) {
  .sub-infos {
    font-size: 18px;
    line-height: 35px;
  }
}

.sub-infos span {
  color: #005937;
}

.sub-infos.v2 {
  font-size: 15px;
  line-height: 25px;
  text-align: left;
  margin: auto auto 50px auto;
  width: 700px;
}

@media (max-width: 900px) {
  .sub-infos.v2 {
    width: 100%;
  }
}

.column-category {
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 750px) {
  .column-category {
    padding-left: 0;
    padding-right: 0;
  }
}

.w-1000 {
  max-width: 1000px;
  width: 100%;
}

@media (max-width: 1000px) {
  .w-1000 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.recruit-href {
  color: #fff;
  display: block;
  text-decoration: none;
}

.sec-recruit {
  position: relative;
  min-height: 300px;
  padding-top: 120px;
  padding-bottom: 50px;
  background: url("../img/p8_5.jpg") center center/cover no-repeat;
}

@media (min-width: 568px) {
  .sec-recruit {
    min-height: 400px;
  }
}

@media (min-width: 751px) {
  .sec-recruit {
    padding-top: 190px;
    height: 390px;
    background: url("../img/p8_5.jpg") center center/cover no-repeat;
  }
}

.sec-recruit p {
  line-height: 28px;
}

.sec-recruit a {
  color: #fff;
  text-decoration: none;
}

.scroll-top {
  position: relative;
  padding: 45px 30px 30px 30px;
}

#toTop {
  position: relative;
  display: inline-block;
  margin-top: 5px;
  width: 20px;
  height: 20px;
  border-top: 2px solid #5f5f5f;
  border-left: 2px solid #5f5f5f;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}

.search-wrp {
  display: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translate(0px, -100%) scale(0, 0);
     -moz-transform: translate(0px, -100%) scale(0, 0);
      -ms-transform: translate(0px, -100%) scale(0, 0);
       -o-transform: translate(0px, -100%) scale(0, 0);
          transform: translate(0px, -100%) scale(0, 0);
}

.search-wrp .overlay {
  background: rgba(255, 255, 255, 0.95);
  height: 100vh;
  padding-top: 30px;
}

.search-wrp .search-form {
  position: relative;
}

.search-wrp .search-form .close {
  background: transparent;
  border: none;
  color: #318e67;
  cursor: pointer;
  font-size: 40px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.search-wrp .search-form form input.search {
  background-color: transparent;
  color: #757575;
  font-size: 30px;
  font-weight: 700;
  width: 100%;
  border-left: 0;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 1px solid #ccc;
  padding: 25px 15px;
}

.search-wrp .search-form form input.search:focus {
  outline: none;
}

.open .search-wrp {
  display: block;
  -webkit-transform: translate(0px, 0px) scale(1, 1);
     -moz-transform: translate(0px, 0px) scale(1, 1);
      -ms-transform: translate(0px, 0px) scale(1, 1);
       -o-transform: translate(0px, 0px) scale(1, 1);
          transform: translate(0px, 0px) scale(1, 1);
}

.open .head {
  opacity: 0;
}

.sec-company {
  margin-top: 71px;
}

@media (max-width: 750px) {
  .sec-company {
    margin-top: 71px;
  }
}

.sec-company .company-box {
  background-color: #eeeeee;
  padding-top: 50px;
  padding-bottom: 100px;
}

@media (max-width: 750px) {
  .sec-company .company-box {
    padding-top: 40px;
    padding-bottom: 70px;
  }
}

@media (max-width: 750px) {
  .sec-company .company-box .cntr {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.sec-company .company-box .company-content {
  background-color: #fff;
  padding: 80px;
}

@media (max-width: 810px) {
  .sec-company .company-box .company-content {
    padding: 50px 20px;
  }
}

.sec-company .company-box .company-content .company-sales-img {
  margin-bottom: 100px;
}

.sec-company .company-box .company-content .company-global-office .globe-map {
  display: none;
}

@media (max-width: 1180px) {
  .sec-company .company-box .company-content .company-global-office .globe-map {
    display: block;
  }
}

@media (max-width: 750px) {
  .sec-company .company-box .company-content .company-global-office .globe-map {
    display: none;
  }
}

.sec-company .company-box .company-content .company-global-office .company-map {
  background: url("../img/pic_office_map.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-bottom: 55px;
  margin: 160px auto 0 auto;
  width: 100%;
  height: 592px;
  position: relative;
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
}

@media (max-width: 1180px) {
  .sec-company .company-box .company-content .company-global-office .company-map {
    display: none;
  }
}

.sec-company .company-box .company-content .company-global-office .company-map .list-office {
  position: relative;
}

.sec-company .company-box .company-content .company-global-office .company-map .list-office li {
  position: absolute;
}

.sec-company .company-box .company-content .company-global-office .company-map .list-office li::after, .sec-company .company-box .company-content .company-global-office .company-map .list-office li::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  left: 0;
  top: 0;
}

.sec-company .company-box .company-content .company-global-office .company-map .list-office li::after {
  width: 12px;
  height: 12px;
  background-image: url("../img/icn_office_point.png");
}

.sec-company .company-box .company-content .company-global-office .company-map .list-office li .area {
  font-size: 24px;
  letter-spacing: 0.05em;
  font-weight: normal;
}

.sec-company .company-box .company-content .company-global-office .company-map .list-office li .txt {
  color: #59585b;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  margin-top: 5px;
}

.sec-company .company-box .company-content .company-global-office .company-map .list-office li .since {
  color: #507b4f;
  font-size: 12px;
  font-weight: bold;
}

.sec-company .company-box .company-content .company-global-office .company-map .list-office .tokyo {
  left: 435px;
  top: 258px;
}

.sec-company .company-box .company-content .company-global-office .company-map .list-office .tokyo .cont {
  padding-left: 80px;
  padding-top: 15px;
}

.sec-company .company-box .company-content .company-global-office .company-map .list-office .tokyo::before {
  width: 306px;
  height: 52px;
  background-image: url("../img/line_office_tokyo.png");
}

.sec-company .company-box .company-content .company-global-office .company-map .list-office .tokyo::after {
  left: -4px;
  top: -6px;
}

.sec-company .company-box .company-content .company-global-office .company-map .list-office .sapporo {
  left: 178px;
  top: -91px;
}

.sec-company .company-box .company-content .company-global-office .company-map .list-office .sapporo .cont {
  position: relative;
  top: -35px;
}

.sec-company .company-box .company-content .company-global-office .company-map .list-office .sapporo::before {
  width: 366px;
  height: 320px;
  background-image: url("../img/line_office_sapporo.png");
}

.sec-company .company-box .company-content .company-global-office .company-map .list-office .sapporo::after {
  left: 260px;
  top: 315px;
}

.sec-company .company-box .company-content .company-global-office .company-map .list-office .silicon-valley {
  left: 635px;
  top: -91px;
}

.sec-company .company-box .company-content .company-global-office .company-map .list-office .silicon-valley .cont {
  position: relative;
  top: -35px;
  left: 15px;
}

.sec-company .company-box .company-content .company-global-office .company-map .list-office .silicon-valley::before {
  width: 258px;
  height: 350px;
  background-image: url("../img/line_office_siliconvalley.png");
}

.sec-company .company-box .company-content .company-global-office .company-map .list-office .silicon-valley::after {
  left: 100px;
  top: 346px;
}

.sec-company .company-box .company-content .company-global-office .company-map .list-office .vietnam {
  left: 122px;
  top: 316px;
}

.sec-company .company-box .company-content .company-global-office .company-map .list-office .vietnam .cont {
  position: relative;
  top: 205px;
  left: 5px;
}

.sec-company .company-box .company-content .company-global-office .company-map .list-office .vietnam::before {
  width: 258px;
  height: 350px;
  background-image: url("../img/line_office_vietnam.png");
}

.sec-company .company-box .company-content .company-global-office .company-map .list-office .vietnam::after {
  left: 209px;
  top: -8px;
}

@media (max-width: 750px) {
  .sec-company .company-box .company-content .company-global-office .btn {
    text-align: center;
  }
}

.sec-company .company-box .company-content .company-global-office .company-global-cont ul {
  margin-bottom: 35px;
}

.sec-company .company-box .company-content .company-global-office .company-global-cont ul li {
  padding-left: 20px;
  position: relative;
  margin-bottom: 15px;
}

.sec-company .company-box .company-content .company-global-office .company-global-cont ul li:last-child {
  margin-bottom: 0;
}

.sec-company .company-box .company-content .company-global-office .company-global-cont ul li h4 {
  font-size: 14px;
}

.sec-company .company-box .company-content .company-global-office .company-global-cont ul li p {
  font-size: 12px;
}

.sec-company .company-box .company-content .company-global-office .company-global-cont ul li .global-yer {
  color: #005937;
  display: block;
}

.sec-company .company-box .company-content .company-global-office .company-global-cont ul li::before {
  content: "";
  background-color: #005937;
  position: absolute;
  height: 10px;
  width: 10px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  left: 5px;
  top: 5px;
}

.sec-company .company-box .company-content .company-access-box {
  margin-bottom: 100px;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 750px) {
  .sec-company .company-box .company-content .company-access-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 70px;
  }
}

.sec-company .company-box .company-content .company-access-box .xs-12 {
  width: 100%;
}

.sec-company .company-box .company-content .company-access-box:last-child {
  margin-bottom: 0;
}

.sec-company .company-box .company-content .company-access-box .company-access-cont {
  margin-top: 20px;
}

@media (max-width: 750px) {
  .sec-company .company-box .company-content .company-access-box .company-access-cont {
    margin-top: 15px;
  }
}

.sec-company .company-box .company-content .company-access-box .company-access-cont p {
  font-size: 15px;
  margin-bottom: 25px;
}

@media (max-width: 750px) {
  .sec-company .company-box .company-content .company-access-box .company-access-cont .btn {
    text-align: center;
  }
}

.sec-company .company-box .company-content .company-access-box .access-img {
  background-color: #e0e0e0;
  height: 270px;
  width: 100%;
}

.sec-company .company-box .company-content .company-message-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 70px;
}

@media (max-width: 750px) {
  .sec-company .company-box .company-content .company-message-top {
    display: inline-block;
    margin-bottom: 15px;
  }
}

.sec-company .company-box .company-content .company-message-top .company-message-name {
  background-color: #f7f6f6;
  position: absolute;
  bottom: 20px;
  right: 15%;
  padding: 25px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.sec-company .company-box .company-content .company-message-top .company-message-name h4 {
  color: #3d3d3d;
  text-align: center;
  font-size: 15px;
}

@media (max-width: 750px) {
  .sec-company .company-box .company-content .company-message-top .company-message-name h4 {
    text-align: left;
    margin-top: 15px;
  }
}

.sec-company .company-box .company-content .company-message-top .company-message-name h4 span {
  font-size: 25px;
  margin-left: 5px;
}

@media (max-width: 750px) {
  .sec-company .company-box .company-content .company-message-top .company-message-name {
    background-color: #fff;
    position: static;
    padding: 0;
  }
}

.sec-company .company-box .company-content .company-message-cont .gap {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec-company .company-box .company-content .company-message-cont .gap p {
  font-size: 14px;
  line-height: 24px;
}

.sec-company .company-box .company-content .company-message-cont .aggresive {
  margin-bottom: 30px;
}

@media (max-width: 750px) {
  .sec-company .company-box .company-content .company-message-cont .aggresive p {
    margin-bottom: 30px;
  }
}

.sec-company .company-box .company-members .member-box {
  position: relative;
  margin-bottom: 50px;
}

.sec-company .company-box .company-members .member-box .members-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  z-index: -1;
}

.sec-company .company-box .company-members .member-box .members-details {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  position: relative;
  z-index: 1;
  margin-top: -35px;
}

.sec-company .company-box .company-members .member-box .members-details .btnv2 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 750px) {
  .sec-company .company-box .company-members .member-box .members-details {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.sec-company .company-box .company-members .member-box .members-details .members-name {
  background-color: #fff;
  padding: 10px 0;
}

.sec-company .company-box .company-members .member-box .members-details .members-name h3 {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}

.sec-company .company-box .company-members .member-box .members-details .members-name h4 {
  color: #507b4f;
  font-size: 12px;
}

.sec-company .company-box .company-members .member-box .members-details .members-cont {
  display: none;
  margin-bottom: 15px;
}

.sec-company .company-box .company-members .member-box .members-details .members-cont p {
  color: #59585b;
  font-size: 14px;
  line-height: 24px;
  text-align: justify;
}

.sec-company .company-box .company-office-tour {
  position: relative;
}

.sec-company .company-box .company-office-tour .floor-img {
  text-align: center;
}

.sec-company .company-box .company-office-tour .floor-img .for-pc {
  display: block;
}

@media (max-width: 1200px) {
  .sec-company .company-box .company-office-tour .floor-img .for-pc {
    display: none;
  }
}

.sec-company .company-box .company-office-tour .floor-img .for-sp {
  display: none;
}

@media (max-width: 1200px) {
  .sec-company .company-box .company-office-tour .floor-img .for-sp {
    display: block;
    margin: auto;
  }
}

@media (max-width: 700px) {
  .sec-company .company-box .company-office-tour .floor-img .for-sp {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .sec-company .company-box .company-office-tour .floor-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 30px;
  }
}

@media (max-width: 500px) {
  .sec-company .company-box .company-office-tour .floor-list {
    margin-left: -5px;
    margin-right: -5px;
  }
}

.sec-company .company-box .company-office-tour .floor-list li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 210px;
  position: absolute;
  background-color: #fff;
  border: 2px solid #363;
}

@media (max-width: 1200px) {
  .sec-company .company-box .company-office-tour .floor-list li {
    position: static;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
    margin-bottom: 20px;
    position: relative;
  }
}

@media (max-width: 500px) {
  .sec-company .company-box .company-office-tour .floor-list li {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
  }
}

.sec-company .company-box .company-office-tour .floor-list li .list-num {
  display: none;
}

@media (max-width: 1200px) {
  .sec-company .company-box .company-office-tour .floor-list li .list-num {
    display: block;
    position: absolute;
    background-color: #486639;
    color: #fff;
    font-weight: bold;
    padding: 2px 10px;
    border-right: 4px solid #fff;
    border-bottom: 4px solid #fff;
    margin-top: 2px;
    margin-left: 2px;
  }
}

@media (max-width: 500px) {
  .sec-company .company-box .company-office-tour .floor-list li .list-num {
    padding: 0 5px;
  }
}

@media (max-width: 500px) {
  .sec-company .company-box .company-office-tour .floor-list li .list-num span {
    font-size: 12px;
  }
}

.sec-company .company-box .company-office-tour .floor-list li a {
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.sec-company .company-box .company-office-tour .floor-list li a:hover {
  opacity: 0.5;
}

@media (max-width: 1200px) {
  .sec-company .company-box .company-office-tour .floor-list li a {
    border: 2px solid #363;
  }
}

.sec-company .company-box .company-office-tour .floor-list li img {
  padding: 3px;
}

.sec-company .company-box .company-office-tour .floor-list li.entrance {
  position: absolute;
  top: 0;
  left: 85px;
}

@media (max-width: 1200px) {
  .sec-company .company-box .company-office-tour .floor-list li.entrance {
    position: static;
  }
}

.sec-company .company-box .company-office-tour .floor-list li.reception {
  position: absolute;
  top: 0;
  left: 325px;
}

@media (max-width: 1200px) {
  .sec-company .company-box .company-office-tour .floor-list li.reception {
    position: static;
  }
}

.sec-company .company-box .company-office-tour .floor-list li.waiting-space {
  position: absolute;
  bottom: 0;
  left: 275px;
}

@media (max-width: 1200px) {
  .sec-company .company-box .company-office-tour .floor-list li.waiting-space {
    position: static;
  }
}

.sec-company .company-box .company-office-tour .floor-list li.meeting-room01 {
  position: absolute;
  top: 0;
  right: 12px;
}

@media (max-width: 1200px) {
  .sec-company .company-box .company-office-tour .floor-list li.meeting-room01 {
    position: static;
  }
}

.sec-company .company-box .company-office-tour .floor-list li.meeting-room02 {
  position: absolute;
  top: 180px;
  right: 12px;
}

@media (max-width: 1200px) {
  .sec-company .company-box .company-office-tour .floor-list li.meeting-room02 {
    position: static;
  }
}

.sec-company .company-box .company-office-tour .floor-list li.meeting-room03 {
  position: absolute;
  top: 355px;
  right: 12px;
}

@media (max-width: 1200px) {
  .sec-company .company-box .company-office-tour .floor-list li.meeting-room03 {
    position: static;
  }
}

.sec-company .company-box .company-office-tour .floor-list li.meeting-room04 {
  position: absolute;
  bottom: 0;
  right: 12px;
}

@media (max-width: 1200px) {
  .sec-company .company-box .company-office-tour .floor-list li.meeting-room04 {
    position: static;
  }
}

.sec-company .company-box .company-office-tour .floor-list li.refresh-room01 {
  position: absolute;
  bottom: 0;
  left: 30px;
}

@media (max-width: 1200px) {
  .sec-company .company-box .company-office-tour .floor-list li.refresh-room01 {
    position: static;
  }
}

.sec-company .company-box .company-office-tour .floor-list li.refresh-room02 {
  position: absolute;
  bottom: 180px;
  left: 30px;
}

@media (max-width: 1200px) {
  .sec-company .company-box .company-office-tour .floor-list li.refresh-room02 {
    position: static;
  }
}

.sec-blog {
  margin-top: 71px;
}

@media (max-width: 750px) {
  .sec-blog {
    margin-top: 71px;
  }
}

.sec-blog .blog-box {
  background-color: #eeeeee;
  padding-top: 50px;
  padding-bottom: 100px;
}

.sec-blog .blog-box .blog-wrap .blog-cont a {
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.sec-blog .blog-box .blog-wrap .blog-cont .core-technology.type-core-technology {
  display: none;
}

.sec-blog .blog-details {
  background-color: #eeeeee;
  padding-top: 70px;
  padding-bottom: 100px;
}

.sec-blog .blog-details .blog-detail-box {
  background: #fff;
  padding: 40px;
}

@media (max-width: 750px) {
  .sec-blog .blog-details .blog-detail-box {
    margin-bottom: 40px;
    padding: 15px;
  }
}

.sec-blog .blog-details .blog-detail-box .blog-detail-header {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 20px;
}

.sec-blog .blog-details .blog-detail-box .blog-detail-header .blog-detail-title {
  color: #444444;
  font-size: 25px;
  margin-bottom: 20px;
}

.sec-blog .blog-details .blog-detail-box .blog-detail-header .blog-detail-date-cat {
  margin-bottom: 20px;
}

.sec-blog .blog-details .blog-detail-box .blog-detail-header .blog-detail-date-cat h4 {
  color: #444444;
  font-size: 15px;
}

.sec-blog .blog-details .blog-detail-box .blog-detail-header .blog-detail-date-cat h4 span {
  border: 1px solid #444;
  display: inline-block;
  font-size: 13px;
  margin-left: 10px;
  padding: 0 15px;
}

.sec-blog .blog-details .blog-detail-box .blog-detail-body .blog-detail-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.sec-blog .blog-details .blog-detail-box .blog-detail-body .blog-detail-cont {
  font-size: 17px;
}

.sec-blog .blog-details .blog-detail-box .blog-detail-body .blog-detail-cont p {
  color: #444;
  margin-bottom: 30px;
}

.sec-blog .blog-details .blog-detail-box .blog-detail-body .blog-detail-cont h3 {
  color: #444;
  border-bottom: 2px solid #444;
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 5px;
  margin-bottom: 25px;
}

.sec-blog .blog-details .blog-detail-box .blog-detail-body .blog-detail-cont ul {
  border: 1px solid #d6d6d6;
  margin-bottom: 30px;
  padding: 30px;
}

.sec-blog .blog-details .blog-detail-box .blog-detail-body .blog-detail-cont ul li {
  margin-bottom: 20px;
}

.sec-blog .blog-details .blog-detail-box .blog-detail-body .blog-detail-cont ul li:last-child {
  margin-bottom: 0;
}

.sec-blog .blog-details .blog-detail-box .blog-detail-body .blog-detail-cont img {
  width: 100%;
  height: auto;
}

.sec-blog .blog-details .blog-detail-box .blog-detail-body .blog-detail-cont table {
  margin-bottom: 25px;
}

.sec-blog .blog-details .blog-detail-box .blog-detail-body .blog-detail-cont a {
  color: #ff6863;
  text-decoration: none;
  word-break: break-all;
}

.sec-blog .blog-details .blog-detail-box .blog-detail-footer .blog-related-list li {
  padding: 20px 10px;
  border-top: 1px solid #cccccc;
}

.sec-blog .blog-details .blog-detail-box .blog-detail-footer .blog-related-list li:last-child {
  border-bottom: 1px solid #ccc;
}

.sec-blog .blog-details .blog-detail-box .blog-detail-footer .blog-related-list li .related-item {
  color: #444;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.sec-blog .blog-details .blog-detail-box .blog-detail-footer .blog-related-list li .related-item .related-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 30%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  max-width: 30%;
}

@media (max-width: 500px) {
  .sec-blog .blog-details .blog-detail-box .blog-detail-footer .blog-related-list li .related-item .related-img {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 15px;
  }
}

.sec-blog .blog-details .blog-detail-box .blog-detail-footer .blog-related-list li .related-item .related-cont {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 70%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  max-width: 70%;
  padding-left: 15px;
}

@media (max-width: 500px) {
  .sec-blog .blog-details .blog-detail-box .blog-detail-footer .blog-related-list li .related-item .related-cont {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.sec-blog .blog-details .blog-detail-box .blog-detail-footer .blog-related-list li .related-item .related-cont h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 13px;
}

.sec-blog .blog-details .blog-detail-box .blog-detail-footer .blog-related-list li .related-item .related-cont h4 {
  font-size: 15px;
}

.sec-blog .blog-details .blog-detail-box .blog-detail-footer .blog-related-list li .related-item .related-cont h4 span {
  border: 1px solid #444;
  display: inline-block;
  font-size: 13px;
  margin-left: 10px;
  padding: 0 15px;
}

.sec-blog .blog-details .social-media-icon {
  margin-bottom: 15px;
}

.sec-blog .blog-details .social-media-icon .social-media-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.sec-blog .blog-details .social-media-icon .social-media-list li {
  margin-right: 15px;
}

.sec-blog .blog-details .social-media-icon .social-media-list li:last-child {
  margin-right: 0;
}

.sec-blog .blog-details .social-media-icon .social-media-list li a {
  color: #333;
  font-size: 20px;
}

.sec-blog .blog-details .social-media-icon .social-media-list li.fb a {
  color: #4359ac;
}

.sec-blog .blog-details .social-media-icon .social-media-list li.pin a {
  color: #e6001a;
}

.sec-blog .blog-details .social-media-icon .social-media-list li.twit a {
  color: #1da0ee;
}

.sec-blog .blog-details .social-media-icon .social-media-list li.pocket a {
  color: #ef4156;
}

.sec-blog .blog-details .social-media-icon .social-media-list li.line a {
  color: #00b900;
}

.sec-blog .blog-details .social-media-icon .social-media-list li.hatena {
  margin-right: 10px;
}

.sec-blog .blog-details .social-media-icon .social-media-list li.hatena a img {
  width: 30px;
  height: 30px;
}

.sec-contact {
  margin-top: 71px;
}

.sec-contact .contact-box {
  background-color: #eeeeee;
  padding-top: 50px;
  padding-bottom: 100px;
}

@media (max-width: 750px) {
  .sec-contact .contact-box .cntr {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.sec-contact .contact-box .contact-content {
  background-color: #fff;
  padding: 80px;
}

@media (max-width: 750px) {
  .sec-contact .contact-box .contact-content {
    padding: 50px 30px;
  }
}

@media (max-width: 425px) {
  .sec-contact .contact-box .contact-content {
    padding: 30px 15px;
  }
}

.sec-contact .contact-box .contact-content .contact-tagline {
  font-size: 15px;
  margin-bottom: 50px;
}

.sec-contact .contact-box .contact-content .contact-tagline a {
  color: #02437a;
}

@media (max-width: 750px) {
  .sec-contact .contact-box .contact-content .contact-tagline {
    text-align: left;
  }
}

.sec-contact .contact-box .contact-content .contact-btn input {
  background-color: #318e67;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #005937;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  color: #fff;
  font-size: 20px;
  padding: 5px 20px;
  width: 320px;
}

@media (max-width: 550px) {
  .sec-contact .contact-box .contact-content .contact-btn input {
    width: 100%;
  }
}

@media (max-width: 499px) {
  #news-section .owl-item {
    padding: 0 25px;
  }
}

.pagination {
  margin-top: 50px;
}

.pagination ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination ul li {
  margin-right: 10px;
}

@media (max-width: 375px) {
  .pagination ul li {
    margin-right: 3px;
  }
}

.pagination ul li:last-child {
  margin-right: 0;
}

.pagination ul li.active a {
  background: #444444;
  color: #fff;
}

.pagination ul li.dots a {
  background: transparent;
  border: none;
  padding: 0;
  pointer-events: none;
}

.pagination ul li.dots a:hover {
  background: transparent;
  color: #444;
}

.pagination ul li .current {
  background: #444444;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  padding: 8px 16px;
}

.pagination ul li a {
  background: #fff;
  border: 1px solid #e2e2e2;
  color: #444;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  padding: 8px 16px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.pagination ul li a:hover {
  background: #444;
  color: #fff;
}

@media (max-width: 550px) {
  .pagination ul li a {
    padding: 3px 7px;
  }
}

.company-modal {
  background: rgba(0, 0, 0, 0.5);
  display: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  text-align: center;
}

.company-modal .company-modal-box {
  position: relative;
}

.company-modal .company-modal-box .company-modal-img {
  padding: 0 65px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.company-modal .company-modal-box .company-modal-img .company-modal-title {
  color: #fff;
  font-weight: bold;
  margin-bottom: 5px;
  padding-left: 15px;
}

.company-modal .company-modal-box .modal-close {
  position: absolute;
  right: 70px;
  top: -50px;
  z-index: 9;
}

.company-modal .company-modal-box .modal-close span {
  cursor: pointer;
  color: #fff;
  font-size: 40px;
}

.company-modal .owl-nav button {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.company-modal .owl-nav button span {
  color: #fff;
  font-size: 60px;
}

.company-modal .owl-nav .owl-prev {
  left: 0;
}

.company-modal .owl-nav .owl-next {
  right: 0;
}

.directions a {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  outline: 0;
  width: 34px;
  height: 68px;
  text-indent: -9999px;
  z-index: 9999;
}

.directions a::before, .directions a::after {
  content: "";
  display: block;
  width: 46px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  left: -6px;
}

.directions a::before {
  top: 16px;
}

.directions a::after {
  top: 48px;
}

.directions .prev {
  left: 0;
}

.directions .prev::before {
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.directions .prev::after {
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}

.directions .next {
  right: 0;
}

.directions .next::before {
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}

.directions .next::after {
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.policy {
  color: #59585b;
}

.policy h4 {
  margin-bottom: 15px;
}

.policy p {
  font-size: 12px;
  line-height: 24px;
  margin-bottom: 15px;
}

.policy-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

@media (max-width: 750px) {
  .policy-menu {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.policy-menu li {
  margin-right: 15px;
}

.policy-menu li:last-child {
  margin-right: 0;
}

.policy-menu li a {
  color: #333;
  font-size: 13px;
  text-decoration: none;
}

.tr {
  text-align: right;
}

.tc {
  text-align: center;
}

.tl {
  text-align: left !important;
}

.ai-c {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  height: auto;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
     -moz-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

@media (max-width: 750px) {
  .main-nav {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 2;
    background-color: #ffffff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 40px 70px 75px 25px;
    -webkit-transform: translateX(-100%);
       -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
         -o-transform: translateX(-100%);
            transform: translateX(-100%);
    width: 90%;
  }
  .main-nav.is-translated {
    -webkit-transform: translateX(0%);
       -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
         -o-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition: all ease-in .3s;
    -o-transition: all ease-in .3s;
    -moz-transition: all ease-in .3s;
    transition: all ease-in .3s;
  }
  .main-nav.is-translated .nav-links-area .menu .menu-item a {
    padding: 15px 30px;
    font-weight: bold;
  }
  .main-nav.is-translated .nav-links-area .menu .menu-item .sub-menu ul li a::before, .main-nav.is-translated .nav-links-area .menu .menu-item .sub-menu ul li a::after {
    display: none;
  }
  .main-nav.is-translated .nav-links-area .menu .menu-item-has-children a::before {
    right: 25px;
  }
  .main-nav.is-translated .nav-links-area .menu .menu-item-has-children a::after {
    right: 25px;
  }
  .main-nav.is-translated .nav-links-area .menu .menu-item-has-children a::before, .main-nav.is-translated .nav-links-area .menu .menu-item-has-children a::after {
    display: none !important;
  }
  .main-nav.is-translated .menu li a {
    padding: 15px;
  }
  .main-nav.is-translated .menu .is-toggled a::before {
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .main-nav.is-translated .menu .is-toggled a::after {
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@media (max-width: 568px) {
  .main-nav {
    padding: 25px 35px 30px 15px;
  }
}

.main-nav .lang-area {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

@media (max-width: 750px) {
  .main-nav .lang-area {
    margin-top: 50px;
  }
}

@media (max-width: 568px) {
  .main-nav .lang-area {
    margin-top: 30px;
  }
}

.main-nav .lang-area ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 751px) {
  .main-nav .lang-area ul {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.main-nav .lang-area ul li {
  position: relative;
  text-align: center;
}

.main-nav .lang-area ul li a {
  display: block;
  color: #aaaaaa;
  text-decoration: none;
  padding: 7px 16px;
  font-size: 12px;
  line-height: normal;
  font-weight: normal;
  background-color: #f4f4f4;
  -webkit-transition: ease-in-out .2s;
  -o-transition: ease-in-out .2s;
  -moz-transition: ease-in-out .2s;
  transition: ease-in-out .2s;
}

@media (min-width: 568px) {
  .main-nav .lang-area ul li a {
    padding: 10px 33px;
  }
}

@media (min-width: 751px) {
  .main-nav .lang-area ul li a {
    font-size: 12px;
    padding: 7px 18px;
  }
}

.main-nav .lang-area ul li a:hover, .main-nav .lang-area ul li a.is-active {
  background-color: #318e67;
  color: #ffffff;
  -webkit-transition: ease-in-out .2s;
  -o-transition: ease-in-out .2s;
  -moz-transition: ease-in-out .2s;
  transition: ease-in-out .2s;
}

.main-nav .nav-links-area {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  padding-top: 10px;
}

@media (max-width: 750px) {
  .main-nav .nav-links-area {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.main-nav .nav-links-area .menu-menu1-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

@media (max-width: 750px) {
  .main-nav .nav-links-area .menu-menu1-container {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.main-nav .nav-links-area .menu-menu1-container ul li a {
  position: relative;
  display: inherit;
  width: 100%;
  padding: 0px 25px;
  border-right: 0;
}

@media (min-width: 751px) {
  .main-nav .nav-links-area .menu-menu1-container ul li a {
    border-right: 1px solid #d6d6d6;
  }
}

@media (min-width: 1020px) {
  .main-nav .nav-links-area .menu-menu1-container ul li a {
    padding: 0px 25px;
  }
}

.main-nav .nav-links-area ul {
  display: inherit;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 750px) {
  .main-nav .nav-links-area ul {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    width: 100%;
  }
}

.main-nav .nav-links-area ul li {
  padding-bottom: 15px;
}

@media (max-width: 750px) {
  .main-nav .nav-links-area ul li {
    padding-bottom: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    border-top: 2px solid #ededed;
  }
  .main-nav .nav-links-area ul li:last-child {
    border-bottom: 2px solid #ededed;
  }
}

.main-nav .nav-links-area ul li a {
  display: block;
  color: #333333;
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  padding: 12px 0;
}

@media (min-width: 568px) {
  .main-nav .nav-links-area ul li a {
    font-size: 12px;
    line-height: 20px;
    padding: 20px 0;
  }
}

@media (min-width: 751px) {
  .main-nav .nav-links-area ul li a {
    padding: 10px 0;
    font-size: 12px;
    line-height: 20px;
  }
}

@media (min-width: 1020px) {
  .main-nav .nav-links-area ul li a {
    padding: 15px 0;
    font-size: 12px;
    line-height: 20px;
  }
}

.main-nav .nav-links-area ul li a span {
  position: relative;
  display: inherit;
  width: 100%;
  padding: 0 10px;
  border-right: 0;
}

@media (min-width: 751px) {
  .main-nav .nav-links-area ul li a span {
    border-right: 1px solid #d6d6d6;
  }
}

@media (min-width: 1020px) {
  .main-nav .nav-links-area ul li a span {
    padding: 0 25px;
  }
}

.main-nav .nav-links-area ul li.menu-item-has-children a::before, .main-nav .nav-links-area ul li.menu-item-has-children a::after {
  display: none;
}

.main-nav .nav-links-area ul li.menu-item-has-children a:before {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0px;
  margin: auto;
  width: 8px;
  height: 8px;
  border-right: 3px solid #333333;
  border-bottom: 3px solid #333333;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}

@media (max-width: 750px) {
  .main-nav .nav-links-area ul li.menu-item-has-children a:before {
    border-right: 0;
    border-bottom: 2px solid #333333;
    width: 10px;
    height: 0;
    bottom: 45%;
    left: unset;
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@media (max-width: 750px) {
  .main-nav .nav-links-area ul li.menu-item-has-children a:after {
    content: '';
    position: absolute;
    border-right: 0;
    border-bottom: 2px solid #333333;
    width: 10px;
    height: 0;
    bottom: 45%;
    right: 0px;
    -webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
         -o-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@media (min-width: 751px) {
  .main-nav .nav-links-area ul li.menu-item-has-children:hover a:before {
    -webkit-transform: rotate(-135deg);
       -moz-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
         -o-transform: rotate(-135deg);
            transform: rotate(-135deg);
    bottom: -20px;
  }
}

@media (min-width: 751px) and (max-width: 750px) {
  .main-nav .nav-links-area ul li.menu-item-has-children:hover a:before {
    bottom: 45%;
    -webkit-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    -moz-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (min-width: 751px) and (max-width: 750px) {
  .main-nav .nav-links-area ul li.menu-item-has-children:hover a:after {
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@media (min-width: 751px) {
  .main-nav .nav-links-area ul li.menu-item-has-children:hover a ~ .sub-menu {
    bottom: -54%;
  }
}

@media (min-width: 751px) and (max-width: 1019px) {
  .main-nav .nav-links-area ul li.menu-item-has-children:hover a ~ .sub-menu {
    bottom: -52%;
  }
}

@media (max-width: 750px) {
  .main-nav .nav-links-area ul li.menu-item-has-children.is-toggled a span:before {
    -webkit-transform: rotate(-135deg);
       -moz-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
         -o-transform: rotate(-135deg);
            transform: rotate(-135deg);
    bottom: -27px;
  }
}

@media (max-width: 750px) and (max-width: 750px) {
  .main-nav .nav-links-area ul li.menu-item-has-children.is-toggled a span:before {
    bottom: 45%;
    -webkit-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    -moz-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 750px) and (max-width: 750px) {
  .main-nav .nav-links-area ul li.menu-item-has-children.is-toggled a span:after {
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

.main-nav .nav-links-area ul li.menu-item-has-children .sub-menu {
  width: 100%;
}

@media (max-width: 750px) {
  .main-nav .nav-links-area ul li.menu-item-has-children .sub-menu {
    display: none !important;
    position: relative;
    bottom: unset;
    background-color: #ffffff;
  }
}

@media (min-width: 751px) {
  .main-nav .nav-links-area ul li.menu-item-has-children .sub-menu {
    position: absolute;
    bottom: -35%;
    background-color: #f0f0f1;
    z-index: 1;
    left: 0;
    visibility: hidden;
  }
}

.main-nav .nav-links-area ul li.menu-item-has-children .sub-menu ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  max-width: 1180px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 750px) {
  .main-nav .nav-links-area ul li.menu-item-has-children .sub-menu ul {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

.main-nav .nav-links-area ul li.menu-item-has-children .sub-menu ul li {
  -webkit-box-flex: 1;
  -webkit-flex: auto;
     -moz-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  padding-bottom: 0;
  border: 0;
}

@media (max-width: 750px) {
  .main-nav .nav-links-area ul li.menu-item-has-children .sub-menu ul li {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .main-nav .nav-links-area ul li.menu-item-has-children .sub-menu ul li:last-child {
    border-bottom: 0;
  }
}

.main-nav .nav-links-area ul li.menu-item-has-children .sub-menu ul li a {
  border-right: 0;
  font-weight: bold;
  text-align: center;
  padding-left: 45px !important;
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-nav .nav-links-area ul li.menu-item-has-children .sub-menu ul li a::after {
  display: none;
}

@media (max-width: 750px) {
  .main-nav .nav-links-area ul li.menu-item-has-children .sub-menu ul li a {
    text-align: left;
  }
}

.main-nav .nav-links-area ul li.menu-item-has-children .sub-menu ul li a span {
  border: 0;
  padding-bottom: 0;
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: 751px) {
  .main-nav .nav-links-area ul li.menu-item-has-children .sub-menu ul li a span {
    padding: 0 10px;
  }
}

@media (min-width: 1020px) {
  .main-nav .nav-links-area ul li.menu-item-has-children .sub-menu ul li a span {
    padding: 0 25px;
  }
}

.main-nav .nav-links-area ul li.menu-item-has-children .sub-menu ul li a span:before {
  display: none;
}

@media (max-width: 750px) {
  .main-nav .nav-links-area ul li.menu-item-has-children .sub-menu ul li a span:after {
    display: none;
  }
}

.main-nav .nav-links-area ul li.menu-item-has-children .sub-menu ul li a::before {
  display: none;
}

.main-nav .nav-links-area ul li.menu-item-has-children .sub-menu ul li:hover a, .main-nav .nav-links-area ul li.menu-item-has-children .sub-menu ul li.is-active a {
  background-color: #bfbfbf;
}

@media (max-width: 750px) {
  .main-nav .nav-links-area ul li.menu-item-has-children .sub-menu ul li:hover a, .main-nav .nav-links-area ul li.menu-item-has-children .sub-menu ul li.is-active a {
    background-color: #ffffff;
  }
}

.main-nav .search-bar {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -12px;
  /* IE 10+ */
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main-nav .search-bar {
    margin-top: -12px;
  }
}

@media (max-width: 750px) {
  .main-nav .search-bar {
    width: 100%;
    margin-bottom: 40px;
  }
}

.main-nav .search-bar input {
  display: block;
}

@media (max-width: 750px) {
  .main-nav .search-bar input {
    width: 100%;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    padding: 10px 15px;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    border: 0;
    background-color: #f5f5f5;
  }
}

@media (min-width: 751px) {
  .main-nav .search-bar input {
    display: none;
  }
}

.breadcrumbs {
  padding: 15px 0;
  border-bottom: 2px solid #eeeeee;
  border-top: 1px solid #eeeeee;
}

@media (max-width: 750px) {
  .breadcrumbs {
    display: none;
  }
}

.breadcrumbs ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumbs ul li {
  color: #3b3b3b;
  font-size: 12px;
  font-weight: bold;
  padding-right: 35px;
  position: relative;
}

.breadcrumbs ul li::after {
  content: ">";
  color: #999999;
  position: absolute;
  right: 15px;
  top: 0;
}

.breadcrumbs ul li:last-child {
  padding-right: 0;
}

.breadcrumbs ul li:last-child::after {
  display: none;
}

.breadcrumbs ul li a {
  color: #999999;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.company-menu, .blog-menu {
  padding: 20px 0px;
}

@media (max-width: 750px) {
  .company-menu .cntr, .blog-menu .cntr {
    padding: 0;
  }
}

.company-menu ul, .blog-menu ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  position: relative;
}

@media (max-width: 750px) {
  .company-menu ul::before, .blog-menu ul::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #d3d3d3;
  }
}

.company-menu ul li, .blog-menu ul li {
  padding: 0 20px;
  border-right: 1px solid #d3d3d3;
  line-height: 15px;
  width: -webkit-calc(100% / 6);
  width: -moz-calc(100% / 6);
  width: calc(100% / 6);
  text-align: center;
}

@media (max-width: 973px) {
  .company-menu ul li, .blog-menu ul li {
    padding: 0 10px;
  }
}

@media (max-width: 750px) {
  .company-menu ul li, .blog-menu ul li {
    width: -webkit-calc(100% / 3);
    width: -moz-calc(100% / 3);
    width: calc(100% / 3);
    padding: 0 20px;
    text-align: center;
    line-height: 30px;
  }
  .company-menu ul li:nth-child(3), .blog-menu ul li:nth-child(3) {
    border-right: 0;
    margin-bottom: 40px;
  }
  .company-menu ul li:nth-child(2), .blog-menu ul li:nth-child(2) {
    margin-bottom: 40px;
  }
  .company-menu ul li:nth-child(1), .blog-menu ul li:nth-child(1) {
    margin-bottom: 40px;
  }
}

@media (max-width: 465px) {
  .company-menu ul li, .blog-menu ul li {
    padding: 0 5px;
  }
}

@media (max-width: 320px) {
  .company-menu ul li, .blog-menu ul li {
    padding: 0 4px;
    line-height: 20px;
  }
}

.company-menu ul li:last-child, .blog-menu ul li:last-child {
  border-right: 0;
}

.company-menu ul li.active a, .blog-menu ul li.active a {
  color: #005937;
}

.company-menu ul li a, .blog-menu ul li a {
  color: #3b3b3b;
  font-size: 14px;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.company-menu ul li a:hover, .blog-menu ul li a:hover {
  color: #005937;
}

@media (max-width: 1081px) {
  .company-menu ul li a, .blog-menu ul li a {
    font-size: 12px;
  }
}

@media (max-width: 853px) {
  .company-menu ul li a, .blog-menu ul li a {
    font-size: 10px;
  }
}

@media (max-width: 750px) {
  .company-menu ul li a, .blog-menu ul li a {
    font-size: 12px;
  }
}

@media (max-width: 465px) {
  .company-menu ul li a, .blog-menu ul li a {
    font-size: 10px;
  }
}

.company-menu ul li.current-menu-item a, .blog-menu ul li.current-menu-item a {
  color: #005937;
}

.hero {
  display: block;
  position: relative;
  margin-top: 71px;
}

.hero .slick-prev {
  left: 0px !important;
  z-index: 9;
}

.hero .slick-prev::before {
  content: "";
  background: url("../img/ico_arrowLeft.png");
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  position: absolute;
  top: -10px;
  left: 10px;
}

.hero .slick-next {
  right: 0px !important;
}

.hero .slick-next::before {
  content: "";
  background: url("../img/ico_arrowRight.png");
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  position: absolute;
  top: -10px;
  right: 10px;
}

.hero .main-slider-box {
  display: none;
  opacity: 0;
  -webkit-transition: opacity .3s linear;
  -o-transition: opacity .3s linear;
  -moz-transition: opacity .3s linear;
  transition: opacity .3s linear;
}

.hero .main-slider-box.slick-initialized {
  display: block;
  opacity: 1;
}

@media (max-width: 750px) {
  .hero .main-slider-box .wp-post-image.v-pc {
    display: none !important;
  }
}

.hero .main-slider-box .wp-post-image.v-sp {
  display: none !important;
}

@media (max-width: 750px) {
  .hero .main-slider-box .wp-post-image.v-sp {
    display: block !important;
  }
}

.title {
  position: relative;
  text-align: center;
  color: #080808;
  letter-spacing: 2px;
  margin-bottom: 30px;
  font-size: 32px;
  line-height: 30px;
  font-weight: 800;
}

.title.is-typeB {
  font-size: 20px;
  margin-bottom: 0;
}

@media (max-width: 750px) {
  .title.is-typeB {
    font-size: 18px;
    margin-bottom: 10px;
    display: none;
  }
}

.title.is-typeC {
  font-size: 44px;
}

@media (max-width: 750px) {
  .title.is-typeC {
    margin-bottom: 30px;
  }
}

.title.is-typeC span {
  margin-top: 15px;
  font-size: 25px;
}

@media (max-width: 750px) {
  .title.is-typeC span {
    display: inline-block;
  }
}

.title.titlev2 {
  font-size: 25px;
}

@media (max-width: 750px) {
  .title.titlev2 {
    font-size: 18px;
    margin-bottom: 15px;
    text-align: left;
  }
}

.title span {
  font-weight: 600;
  display: block;
  font-size: 14px;
  letter-spacing: 1px;
}

.page-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-title.titlev1 {
  background: url("../img/bnr_company02.jpg") center center/cover no-repeat;
  height: 300px;
}

@media (max-width: 750px) {
  .page-title.titlev1 {
    background: url("../img/bnr_company03.jpg") center center/cover no-repeat;
    height: 150px;
  }
}

.page-title.titlev2 {
  background: url("../img/bnr_blog01.jpg") center center/cover no-repeat;
  height: 300px;
}

@media (max-width: 750px) {
  .page-title.titlev2 {
    background: url("../img/bnr_blog01_sp.jpg") center center/cover no-repeat;
    height: 150px;
  }
}

.page-title.titlev3 {
  background: url("../img/bnr_contact01.jpg") center center/cover no-repeat;
  height: 300px;
}

@media (max-width: 750px) {
  .page-title.titlev3 {
    background: url("../img/bnr_contact01_sp.jpg") center center/cover no-repeat;
    height: 150px;
  }
}

.page-title h2 {
  color: #fff;
  display: inline-block;
  font-size: 35px;
  font-style: italic;
  padding-left: 25px;
  text-shadow: 2px 2px 2px #333;
}

@media (max-width: 750px) {
  .page-title h2 {
    width: 100%;
    text-align: center;
    padding-left: 0;
  }
}

.page-title h2 span {
  display: table;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  text-align: right;
  width: 100%;
}

@media (max-width: 750px) {
  .page-title h2 span {
    text-align: center;
  }
}

.card {
  position: relative;
  text-decoration: none;
  color: #080808;
  font-size: 16px;
  line-height: normal;
  font-weight: 600;
}

.card-img {
  margin-bottom: 25px;
}

.card-img img {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-title {
  font-weight: bolder;
}

.card-title h3 {
  display: inline;
  font-size: 15px;
}

.card-title h3 a {
  color: #000;
  text-decoration: none;
}

.card.has-slider .card-body .item-img {
  margin-bottom: 15px;
}

.card.has-slider .card-body .item-img p {
  display: none;
}

.card.has-slider .card-body .item-img img {
  height: 360px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card.has-slider .card-header .category {
  display: block;
  margin-bottom: 30px;
}

.card.has-slider .card-header .category .cat-tit {
  color: #080808;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: normal;
  font-weight: 900;
}

@media (min-width: 568px) {
  .card.has-slider .card-header .category .cat-tit {
    font-size: 32px;
  }
}

@media (min-width: 751px) {
  .card.has-slider .card-header .category .cat-tit {
    font-size: 23px;
  }
}

.card.has-slider .card-header .category .cat-tit span {
  position: relative;
  display: inline-block;
  padding-left: 45px;
}

@media (min-width: 568px) {
  .card.has-slider .card-header .category .cat-tit span {
    padding-left: 50px;
  }
}

@media (min-width: 751px) {
  .card.has-slider .card-header .category .cat-tit span {
    padding-left: 50px;
  }
}

.card.has-slider .card-header .category .cat-tit span img {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  width: 40px;
  margin: auto;
}

@media (min-width: 568px) {
  .card.has-slider .card-header .category .cat-tit span img {
    width: 40px;
  }
}

@media (min-width: 751px) {
  .card.has-slider .card-header .category .cat-tit span img {
    width: 40px;
  }
}

.card.has-slider .card-header .category .cat-info {
  color: #3d3d3d;
  font-size: 14px;
  line-height: 1.5;
  font-weight: normal;
}

@media (min-width: 568px) {
  .card.has-slider .card-header .category .cat-info {
    font-size: 16px;
  }
}

@media (min-width: 751px) {
  .card.has-slider .card-header .category .cat-info {
    font-size: 16px;
  }
}

.card.has-slider .card-header .category .cat-info .link-details {
  display: inline-block;
  text-decoration: none;
  color: #00004e;
  font-size: 15px;
  margin-top: 0px;
  font-weight: normal;
}

.card.has-slider .card-date {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #6d6d6d;
  font-weight: normal;
}

.card.has-slider .owl-dots {
  display: none;
}

.card.has-slider .owl-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  padding-left: 20px;
  padding-right: 20px;
}

.card.has-slider .owl-nav button {
  outline: none;
}

.card.has-slider .owl-nav button.owl-prev, .card.has-slider .owl-nav button.owl-next {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: url("../img/ico_arrowLeft.png") center center/100% 100% no-repeat;
}

.card.has-slider .owl-nav button.owl-next {
  background-image: url("../img/ico_arrowRight.png");
}

.card.has-slider .owl-nav button span {
  display: none;
}

.card.card-blog {
  margin-bottom: 40px;
}

.card.card-blog .blog-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.card.card-blog .blog-body .blog-date {
  margin-bottom: 10px;
}

.card.card-blog .blog-body .blog-date h4 {
  font-size: 16px;
}

.card.card-blog .blog-body .blog-date h4 .category {
  border: 1px solid #000;
  display: inline-block;
  font-size: 14px;
  margin-left: 10px;
  padding: 2px 10px;
}

.card.card-blog .blog-body .blog-title h3 {
  line-height: 20px;
}

.card-infos .card-date {
  margin-bottom: 5px;
  font-size: 14px;
}

.card-infos .card-title h3 {
  font-size: 15px;
  line-height: 20px;
}

.owl-item a {
  color: #333;
  text-decoration: none;
}

.search-btn {
  display: none;
  position: relative;
  border: 0;
  background-color: transparent;
  padding: 0 25px;
  cursor: pointer;
  outline: none;
}

@media (min-width: 751px) {
  .search-btn {
    display: block;
  }
}

.search-btn img {
  width: 14px;
}

.btn-readmore {
  background-color: #ffffff;
  display: inline-block;
  text-decoration: none;
  border: 4px solid #d9d9d9;
  color: #080808;
  padding: 10px 20px;
  font-size: 15px;
  line-height: normal;
  font-weight: bold;
}

@media (min-width: 568px) {
  .btn-readmore {
    padding: 15px 30px;
    font-size: 15px;
  }
}

@media (min-width: 751px) {
  .btn-readmore {
    padding: 10px 30px;
    font-size: 15px;
  }
}

@media (max-width: 450px) {
  .btn {
    padding: 0;
  }
}

.btn .btn-address {
  border: 1px solid #014a2e;
  color: #014a2e;
  font-size: 15px;
  padding: 15px 50px;
  position: relative;
  margin-top: 35px;
}

@media (max-width: 450px) {
  .btn .btn-address {
    font-size: 12px;
    width: 100%;
  }
}

@media (max-width: 350px) {
  .btn .btn-address {
    padding: 15px 15px;
  }
}

.btn .btn-address::before {
  content: "";
  background: url(../img/ico_ar_green.png);
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  width: 7px;
  height: 10px;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
  margin: auto;
}

@media (max-width: 330px) {
  .btn .btn-address::before {
    right: 15px;
  }
}

.btn.btnv2 a {
  background-color: #ececec;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  color: #005937;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6px 0;
  text-decoration: none;
  position: relative;
}

.btn.btnv2 a::before {
  content: "";
  background: url("../img/ico_company01.png");
  -webkit-background-size: contain;
     -moz-background-size: contain;
       -o-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  position: absolute;
  left: -50px;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.search-result {
  padding-top: 85px;
}

.dl-section {
  border: 1px solid #d2d2d2;
  margin-bottom: 100px;
}

.dl-section.v2 {
  margin-bottom: 50px;
}

.dl-section .list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.dl-section .list.is-dl {
  background: #f9f9f9;
  border-bottom: 1px solid #d2d2d2;
  font-size: 15px;
}

.dl-section .list.is-dl:last-child {
  border-bottom: 0;
}

.dl-section .list.is-dl dt {
  background-color: #f9f9f9;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 20%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  max-width: 20%;
  padding-left: 15px;
}

@media (max-width: 750px) {
  .dl-section .list.is-dl dt {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    border-bottom: 1px solid #d2d2d2;
    font-weight: bold;
  }
}

.dl-section .list.is-dl dd {
  background: #fff;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 80%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
  max-width: 80%;
  padding: 20px 15px;
}

.dl-section .list.is-dl dd span {
  margin-right: 15px;
}

@media (max-width: 750px) {
  .dl-section .list.is-dl dd {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.dl-section .list.is-dl-contact {
  background-color: #fff;
}

.dl-section .list.is-dl-contact dt {
  background-color: #fff;
  padding-left: 25px;
}

.dl-section .list.is-dl-contact dt .required {
  background-color: #d90909;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  margin-right: 7px;
  padding: 0px 10px;
}

.dl-section .list.is-dl-contact dt.tc {
  padding-left: 0;
}

@media (max-width: 750px) {
  .dl-section .list.is-dl-contact dt.tc {
    text-align: left;
    padding-left: 15px;
  }
}

@media (max-width: 1050px) {
  .dl-section .list.is-dl-contact dt {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 35%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 35%;
            flex: 0 0 35%;
    max-width: 35%;
  }
}

@media (max-width: 750px) {
  .dl-section .list.is-dl-contact dt {
    background-color: #f9f9f9;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    padding: 15px;
  }
}

.dl-section .list.is-dl-contact dd {
  border-left: 1px solid #eee;
  padding: 20px 30px;
}

.dl-section .list.is-dl-contact dd .form-control {
  border: 1px solid #eeeeee;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  padding: 15px;
  width: 100%;
}

.dl-section .list.is-dl-contact dd .form-control::-webkit-input-placeholder {
  color: #696969;
}

.dl-section .list.is-dl-contact dd .form-control:-moz-placeholder {
  color: #696969;
}

.dl-section .list.is-dl-contact dd .form-control::-moz-placeholder {
  color: #696969;
}

.dl-section .list.is-dl-contact dd .form-control:-ms-input-placeholder {
  color: #696969;
}

.dl-section .list.is-dl-contact dd .form-control::-ms-input-placeholder {
  color: #696969;
}

.dl-section .list.is-dl-contact dd .form-control::placeholder {
  color: #696969;
}

.dl-section .list.is-dl-contact dd textarea {
  border: 1px solid #b3b3b3 !important;
  resize: none;
}

@media (max-width: 1050px) {
  .dl-section .list.is-dl-contact dd {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 65%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 65%;
            flex: 0 0 65%;
    max-width: 65%;
  }
}

@media (max-width: 750px) {
  .dl-section .list.is-dl-contact dd {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    padding: 15px;
  }
}

.sidebar-box .sidebar-wrp {
  background: #fff;
  margin-bottom: 40px;
  padding: 30px 20px 50px;
}

.sidebar-box .sidebar-wrp:last-child {
  margin-bottom: 0;
}

.sidebar-box .sidebar-wrp .article-lists {
  padding: 0 8px;
}

.sidebar-box .sidebar-wrp .article-lists li {
  margin-bottom: 25px;
}

.sidebar-box .sidebar-wrp .article-lists li:last-child {
  margin-bottom: 0;
}

.sidebar-box .sidebar-wrp .article-lists li .article-item {
  color: #444444;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.sidebar-box .sidebar-wrp .article-lists li .article-item .article-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 30%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  max-width: 30%;
}

.sidebar-box .sidebar-wrp .article-lists li .article-item .article-tit {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 70%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  max-width: 70%;
  padding-left: 13px;
}

.sidebar-box .sidebar-wrp .article-lists li .article-item .article-tit p {
  font-weight: bold;
  font-size: 14px;
}

.sidebar-box .sidebar-wrp .category-lists li {
  border-bottom: 2px solid #e2e2e2;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar-box .sidebar-wrp .category-lists li:last-child {
  margin-bottom: 0;
}

.sidebar-box .sidebar-wrp .category-lists li a {
  color: #444444;
  font-size: 14px;
  display: block;
  margin-right: 10px;
  padding-bottom: 8px;
  padding-left: 10px;
  text-decoration: none;
}

.sidebar-box .sidebar-wrp .category-lists li a span {
  margin-left: 5px;
}

.sidebar-box .sidebar-tit {
  border-bottom: 2px solid #e2e2e2;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 5px 10px;
}
