.search-btn {
	display: none;
	position: relative;
	border: 0;
	background-color: transparent;
	padding: 0 25px;
	cursor: pointer;
	outline: none;
	@include mq(min, $default-container-md) {
		display: block;
	}
	img {
		width: 14px;
	}
}
.btn-readmore {
	background-color: $white;
	display: inline-block;
	text-decoration: none;
	border: 4px solid $gray800;
	// font-family: "Hiragino Kaku Gothic Pro";
	color: $black100;
	padding: 10px 20px;
	@include txt(15, normal, bold);
	@include mq(min, 568) {
		padding: 15px 30px;
		font-size: 15px;
	}
	@include mq(min, $default-container-md) {
		padding: 10px 30px;
		font-size: 15px;
	}
}
.btn{
	@include mq(max, 450){
		padding: 0;
	}
	.btn-address{
		border: 1px solid #014a2e;
		color: #014a2e;
		font-size: 15px;
		padding: 15px 50px;
		position: relative;
		margin-top: 35px;
		// visibility: hidden;
		@include mq(max, 450){
			font-size: 12px;
			width: 100%;
		}
		@include mq(max, 350){
			padding: 15px 15px;
		}
		&::before{
			content: "";
			background: url(../img/ico_ar_green.png);
			background-size: cover;
			background-repeat: no-repeat;
			width: 7px;
			height: 10px;
			position: absolute;
			right: 30px;
			top: 0;
			bottom: 0;
			margin: auto;
			@include mq(max, 330){
				right: 15px;
			}
		}
	}
	&.btnv2{
		a{
			background-color: #ececec;
			border-radius: 3px;
			color: #005937;
			display: flex;
			font-size: 12px;
			justify-content: center;
			padding: 6px 0;
			text-decoration: none;
			position: relative;
			&::before{
				content: "";
				background: url('../img/ico_company01.png');
				background-size: contain;
				background-repeat: no-repeat;
				width: 15px;
				height: 15px;
				position: absolute;
				left: -50px;
				right: 0;
				top: 0;
				bottom: 0;
				margin: auto;
			}
		}
	}
}