.card {
	position: relative;
	text-decoration: none;
	color: $black100;
	// font-family: "Hiragino Kaku Gothic Pro";
	@include txt(16, normal, 600);
	&-img {
		margin-bottom: 25px;
		img{
			height: 200px;
			object-fit: cover;
			// @include mq(max, 1020){
			// 	height: 145px;
			// }
			// @include mq(max, 425){
			// 	height: 108px;
			// }
			// @include mq(max, 399){
			// 	height: 80px;
			// }
		}
	}
	&-title {
		font-weight: bolder;
		h3{
			display: inline;
			font-size: 15px;
			a{
				color: #000;
				text-decoration: none;
			}
		}
	}
	&.has-slider {
		.card-body {
			.item-img {
				margin-bottom: 15px;
				p{
					display: none;
				}
				img {
					height: 360px;
					object-fit: cover;
				}
			}
		}
		.card-header {
			.category {
				display: block;
				margin-bottom: 30px;
				.cat-tit {
					// font-family: "Hiragino Kaku Gothic Pro";
					color: $black100;
					margin-bottom: 20px;
					@include txt(16, normal, 900);
					@include mq(min, 568) {
						font-size: 32px;
					}
					@include mq(min, $default-container-md) {
						font-size: 23px;
					}
					span {
						position: relative;
						display: inline-block;
						padding-left: 45px;
						// padding-top: 50px;
						@include mq(min, 568) {
							padding-left: 50px;
						}
						@include mq(min, $default-container-md) {
							padding-left: 50px;
						}
						img {
							position: absolute;
							left: 0;
							bottom: 0;
							top: 0;
							width: 40px;
							margin: auto;
							@include mq(min, 568) {
								width: 40px;
							}
							@include mq(min, $default-container-md) {
								width: 40px;
							}
						}
					}
				}
				.cat-info {
					color: $dgray500;
					@include txt(14, 1.5, normal);
					@include mq(min, 568) {
						font-size: 16px;
					}
					@include mq(min, $default-container-md) {
						font-size: 16px;
					}
					.link-details {
						display: inline-block;
						text-decoration: none;
						color: $dblue100;
						font-size: 15px;
						margin-top: 0px;
						font-weight: normal;
					}
				}
			}
		}
		.card-date {
			display: block;
			margin-top: 10px;
			font-size: 14px;
			color: $dgray600;
			font-weight: normal;
		}
		.owl-dots {
			display: none;
		}
		.owl-nav {
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: absolute;
			top: 200px;
			left: 0;
			right: 0;
			width: 100%;
			z-index: 1;
			padding-left: 20px;
			padding-right: 20px;
			button {
				outline: none;
				&.owl-prev, &.owl-next {
					display: inline-block;
					width: 35px;
					height: 35px;
					background: url('../img/ico_arrowLeft.png') center center / 100% 100% no-repeat;
				}
				&.owl-next {
					background-image: url('../img/ico_arrowRight.png');
				}
				span {
					display: none;
				}
			}
		}
	}
	&.card-blog{
		margin-bottom: 40px;
		.blog-header{
			display: flex;
			margin-bottom: 25px;
		}
		.blog-body{
			.blog-date{
				margin-bottom: 10px;
				h4{
					font-size: 16px;
					.category{
						border: 1px solid #000;
						display: inline-block;
						font-size: 14px;
						margin-left: 10px;
						padding: 2px 10px;
					}
				}
			}
			.blog-title{
				h3{
					line-height: 20px;
				}
			}
		}
	}
}
.card-infos{
	.card-date{
		margin-bottom: 5px;
		font-size: 14px;
	}
	.card-title{
		h3{
			font-size: 15px;
			line-height: 20px;
		}
	}
}
.owl-item {
	a{
		color: #333;
		text-decoration: none;
	}
}