.hero {
	display: block;
	position: relative;
	margin-top: 71px;
	// .slick-arrow{
	// 	display: none !important;
	// }
	.slick-prev{
		left: 0px !important;
		z-index: 9;
		&::before{
			content: "";
			background: url('../img/ico_arrowLeft.png');
			background-size: cover;
			background-repeat: no-repeat;
			height: 40px;
			width: 40px;
			position: absolute;
			top: -10px;
			left: 10px;
		}
	}
	.slick-next{
		right: 0px !important;
		&::before{
			content: "";
			background: url('../img/ico_arrowRight.png');
			background-size: cover;
			background-repeat: no-repeat;
			height: 40px;
			width: 40px;
			position: absolute;
			top: -10px;
			right: 10px;
		}
	}
	.main-slider-box{
		display: none;
		opacity: 0;
  		transition: opacity .3s linear;
		&.slick-initialized{
			display: block;
			opacity: 1;
		}
		.wp-post-image{
			&.v-pc{
				@include mq(max, 750){
					display: none !important;
				}
			}
			&.v-sp{
				display: none !important;
				@include mq(max, 750){
					display: block !important;
				}
			}
		}
	}
}