.dl-section{
    border: 1px solid #d2d2d2;
    margin-bottom: 100px;
    &.v2{
        margin-bottom: 50px;
    }
    .list{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        &.is-dl{
            background: #f9f9f9;
            border-bottom: 1px solid #d2d2d2;
            font-size: 15px;
            &:last-child{
                border-bottom: 0;
            }
            dt{
                background-color: #f9f9f9;
                flex: 0 0 20%;
                max-width: 20%;
                padding-left: 15px;
                @include mq(max, 750){
                    flex: 0 0 100%;
                    max-width: 100%;
                    border-bottom: 1px solid #d2d2d2;
                    font-weight: bold;
                }
            }
            dd{
                background: #fff;
                flex: 0 0 80%;
                max-width: 80%;
                padding: 20px 15px;
                span{
                    margin-right: 15px;
                }
                @include mq(max, 750){
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }
        &.is-dl-contact{
            background-color: #fff;
            dt{
                background-color: #fff;
                padding-left: 25px;
                .required{
                    background-color: #d90909;
                    border-radius: 3px;
                    color: #fff;
                    display: inline-block;
                    font-size: 12px;
                    margin-right: 7px;
                    padding: 0px 10px;
                }
                &.tc{
                    padding-left: 0;
                    @include mq(max, 750){
                        text-align: left;
                        padding-left: 15px;
                    }
                }
                @include mq(max, 1050){
                    flex: 0 0 35%;
                    max-width: 35%;
                }
                @include mq(max, 750){
                    background-color: #f9f9f9;
                    flex: 0 0 100%;
                    max-width: 100%;
                    padding: 15px;
                }
            }
            dd{
                border-left: 1px solid #eee;
                padding: 20px 30px;
                .form-control{
                    border: 1px solid #eeeeee;
                    border-radius: 5px;
                    padding: 15px;
                    width: 100%;
                    &::placeholder{
                        color: #696969;
                    }
                }
                textarea{
                    border: 1px solid #b3b3b3 !important;
                    resize: none;
                }
                @include mq(max, 1050){
                    flex: 0 0 65%;
                    max-width: 65%;
                }
                @include mq(max, 750){
                    flex: 0 0 100%;
                    max-width: 100%;
                    padding: 15px;
                }
            }
        }
    }
}