.main-nav {
	display: flex;
	flex-wrap: wrap;
	height: auto;
	flex: auto;
	@include mq(max, $default-container-md - 1) {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		width: 100%;
		z-index: 2;
		background-color: $white;
		flex-direction: column-reverse;
		padding: 40px 70px 75px 25px;
		transform: translateX(-100%);
		// transition: all ease-in .1s;
		width: 90%;
		&.is-translated {
			transform: translateX(0%);
			transition: all ease-in .3s;
			.nav-links-area{
				.menu{
					.menu-item{
						a{
							padding: 15px 30px;
							font-weight: bold;
						}
						.sub-menu{
							ul{
								li{
									a{
										&::before, &::after{
											display: none;
										}
									}
								}
							}
						}
					}
					.menu-item-has-children{
						a{
							&::before{
								right: 25px;
							}
							&::after{
								right: 25px;
							}
							&::before, &::after{
								display: none !important;
							}
						}
					}
				}
			}
			.menu{
				li{
					a{
						padding: 15px;
					}
				}
			}
			.menu{
				.is-toggled{
					a{
						&::before{
							transform: rotate(45deg);
						}
						&::after{
							transform: rotate(-45deg);
						}
					}
				}
			}
		}
	}
	@include mq(max, 568) {
		padding: 25px 35px 30px 15px;
	}
	.lang-area {
		flex: 0 0 100%;
		max-width: 100%;
		@include mq(max, $default-container-md - 1) {
			margin-top: 50px;
		}
		@include mq(max, 568) {
			margin-top: 30px;
		}
		ul {
			display: flex;
			justify-content: center;
			align-items: center;
			@include mq(min, $default-container-md) {
				justify-content: flex-end;
			}
			li {
				position: relative;
				text-align: center;
				a {
					display: block;
					// font-family: "HiraginoSans W4";
					color: $gray100;
					text-decoration: none;
					padding: 7px 16px;
					@include txt(12, normal, normal);
					background-color: $gray200;
					transition: ease-in-out .2s;
					@include mq(min, 568) {
						padding: 10px 33px;
					}
					@include mq(min, $default-container-md) {
						font-size: 12px;
						padding: 7px 18px;
					}
					&:hover, &.is-active {
						background-color: $green100;
						color: $white;
						transition: ease-in-out .2s;
					}
				}
			}
		}
	}
	.nav-links-area {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex: 0 0 100%;
		max-width: 100%;
		padding-top: 10px;
		@include mq(max, $default-container-md - 1) {
			flex-wrap: wrap;
			flex-direction: column-reverse;
		}
		@include mq(min, $default-container-md) {
			// padding-top: 10px;
		}
		@include mq(min, 1020) {
			// padding-top: 25px;
		}
		.menu-menu1-container{
			display: flex;
			justify-content: flex-end;
			align-items: center;
			flex: 0 0 100%;
			max-width: 100%;
			@include mq(max, $default-container-md - 1) {
				flex-wrap: wrap;
				flex-direction: column-reverse;
			}
			ul{
				li{
					a{
						position: relative;
						display: inherit;
						width: 100%;
						padding: 0px 25px;
						border-right: 0;
						@include mq(min, $default-container-md) {
							border-right: 1px solid $gray300;
						}
						@include mq(min, 1020) {
							padding: 0px 25px;
						}
					}
				}
			}
		}
		ul {
			display: inherit;
			align-items: center;
			@include mq(max, $default-container-md - 1) {
				flex-wrap: wrap;
				width: 100%;
			}
			li {
				// padding-bottom: 28px;
				padding-bottom: 15px;
				@include mq(max, $default-container-md - 1) {
					padding-bottom: 0;
					flex: 0 0 100%;
					max-width: 100%;
					border-top: 2px solid $gray600;
					&:last-child {
						border-bottom: 2px solid $gray600;
					}
				}
				a {
					display: block;
					// font-family: "HiraginoSans W4";
					color: $dgray100;
					text-decoration: none;
					@include txt(12, 20px, 500);
					padding: 12px 0;
					@include mq(min,568) {
						font-size: 12px;
						line-height: 20px;
						padding: 20px 0;
					}
					@include mq(min, $default-container-md) {
						padding: 10px 0;
						font-size: 12px;
						line-height: 20px;
					}
					@include mq(min, 1020) {
						padding: 15px 0;
						font-size: 12px;
						line-height: 20px;
					}
					span {
						position: relative;
						display: inherit;
						width: 100%;
						padding: 0 10px;
						border-right: 0;
						@include mq(min, $default-container-md) {
							border-right: 1px solid $gray300;
						}
						@include mq(min, 1020) {
							padding: 0 25px;
						}
					}
				}
				&.menu-item-has-children {
					a {
						&::before, &::after{
							display: none;
						}
						&:before {
							content: '';
							position: absolute;
							bottom: -15px;
							left: 0;
							right: 0px;
							margin: auto;
							width: 8px;
							height: 8px;
							border-right: 3px solid $dgray100;
							border-bottom: 3px solid $dgray100;
							transform: rotate(45deg);
							transition: all .8s cubic-bezier(.19,1,.22,1);
							@include mq(max, $default-container-md - 1) {
								border-right: 0;
								border-bottom: 2px solid $dgray100;
								width: 10px;
								height: 0;
								bottom: 45%;
								left: unset;
								transform: rotate(0deg);
							}
						}
						@include mq(max, $default-container-md - 1) {
							&:after {
								content: '';
								position: absolute;
								border-right: 0;
								border-bottom: 2px solid $dgray100;
								width: 10px;
								height: 0;
								bottom: 45%;
								right: 0px;
								transform: rotate(90deg);
							}
						}
					}
					@include mq(min, $default-container-md) {
						&:hover {
							a {
								&:before {
									transform: rotate(-135deg);
									bottom: -20px;
									@include mq(max, $default-container-md - 1) {
										bottom: 45%;
										transition: ease-in-out .3s;
										transform: rotate(45deg);
									}
								}
								@include mq(max, $default-container-md - 1) {
									&:after {
										transform: rotate(-45deg);
									}
								}
								~.sub-menu {
									bottom: -54%;
									// visibility: visible;
									@include mq(max, 1019){
										bottom: -52%;
									}
								}	
							}
						}
					}
					@include mq(max, $default-container-md - 1) {
						&.is-toggled {
							a {
								span {
									&:before {
										transform: rotate(-135deg);
										bottom: -27px;
										@include mq(max, $default-container-md - 1) {
											bottom: 45%;
											transition: ease-in-out .3s;
											transform: rotate(45deg);
										}
									}
									@include mq(max, $default-container-md - 1) {
										&:after {
											transform: rotate(-45deg);
										}
									}
								}
							}
						}
					}
					.sub-menu {
						width: 100%;
						@include mq(max, $default-container-md - 1) {
							display: none !important;
							position: relative;
							bottom: unset;
							background-color: $white;
						}
						@include mq(min, $default-container-md) {
							position: absolute;
							bottom: -35%;
							background-color: $gray400;
							z-index: 1;
							left: 0;
							visibility: hidden;
						}
						ul {
							display: flex;
							justify-content: space-around;
							max-width: $default-container+px;
							width: 100%;
							margin-left: auto;
							margin-right: auto;
							@include mq(max, $default-container-md - 1) {
								flex-wrap: wrap;
							}
							li {
								flex: auto;
								padding-bottom: 0;
								border: 0;
								@include mq(max, $default-container-md - 1) {
									flex: 0 0 100%;
									max-width: 100%;
									&:last-child {
										border-bottom: 0;
									}
								}
								
								a {
									border-right: 0;
									font-weight: bold;
									text-align: center;
									padding-left: 45px !important;
									padding-top: 15px;
									padding-bottom: 15px;
									&::after{
										display: none;
									}
									@include mq(max, $default-container-md - 1) {
										text-align: left;
									}
									span {
										border: 0;
										padding-bottom: 0;
										padding-left: 30px;
										padding-right: 30px;
										@include mq(min, $default-container-md) {
											padding: 0 10px;
										}
										@include mq(min, 1020) {
											padding: 0 25px;
										}
										&:before {
											display: none;
										}
										@include mq(max, $default-container-md - 1) {
											&:after {
												display: none;
											}
										}
									}
									&::before{
										display: none;
									}
								}
								&:hover, &.is-active {
									a {
										background-color: $dgray200;
										@include mq(max, $default-container-md - 1) {
											background-color: $white;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.search-bar {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: -12px;
		@include forIE() {
			margin-top: -12px;
		}
		@include mq(max, $default-container-md - 1) {
			width: 100%;
			margin-bottom: 40px;
		}
		input {
			display: block;
			@include mq(max, $default-container-md - 1) {
				width: 100%;
				// font-family: "ヒラギノ角ゴ Pro W3";
				@include txt(18, 28px, 500);
				padding: 10px 15px;
				border-radius: 10px;
				border: 0;
				background-color: $gray500;
			}
			@include mq(min, $default-container-md) {
				display: none;
			}
		}
	}
}

.breadcrumbs{
	padding: 15px 0;
	border-bottom: 2px solid #eeeeee;
	border-top: 1px solid #eeeeee;
	@include mq(max, 750){
		display: none;
	}
	ul{
		display: flex;
		align-items: center;
		li{
			color: #3b3b3b;
			font-size: 12px;
			font-weight: bold;
			padding-right: 35px;
			position: relative;
			&::after{
				content: ">";
				color: #999999;
				position: absolute;
				right:15px;
				top: 0;
			}
			&:last-child{
				padding-right: 0;
				&::after{
					display: none;
				}
			}
			a{
				color: #999999;
				font-size: 12px;
				font-weight: bold;
				letter-spacing: 1px;
				text-decoration: none;
				text-transform: uppercase;
			}
		}
	}
}

.company-menu, .blog-menu{
	padding: 20px 0px;
	.cntr{
		@include mq(max, 750){
			padding: 0;
		}
	}
	ul{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		position: relative;
		@include mq(max, 750){
			&::before{
				content: "";
				position: absolute;
				width: 100%;
				height: 1px;
				background-color: #d3d3d3;
			}
		}
		li{
			padding: 0 20px;
			border-right: 1px solid #d3d3d3;
			line-height: 15px;
			width: calc(100% / 6);
			text-align: center;
			@include mq(max, 973){
				padding: 0 10px;
			}
			@include mq(max, 750){
				width: calc(100% / 3);
				padding: 0 20px;
				text-align: center;
				line-height: 30px;
				&:nth-child(3){
					border-right: 0;
					margin-bottom: 40px;
				}
				&:nth-child(2){
					margin-bottom: 40px;
				}
				&:nth-child(1){
					margin-bottom: 40px;
				}
			}
			@include mq(max, 465){
				padding: 0 5px;
			}
			@include mq(max, 320){
				padding: 0 4px;
				line-height: 20px;
			}
			&:last-child{
				border-right: 0;
			}
			&.active{
				a{
					color: #005937;
				}
			}
			a{
				color: #3b3b3b;
				font-size: 14px;
				text-decoration: none;
				transition: all 0.5s ease-in-out;
				&:hover{
					color: #005937;
				}
				@include mq(max, 1081){
					font-size: 12px;
				}
				@include mq(max, 853){
					font-size: 10px;
				}
				@include mq(max, 750){
					font-size: 12px;
				}
				@include mq(max, 465){
					font-size: 10px;
				}
			}
			&.current-menu-item{
				a{
					color: #005937;
				}
			}
		}
	}
}