.sidebar-box{
    .sidebar-wrp{
        background: #fff;
        margin-bottom: 40px;
        padding: 30px 20px 50px;
        &:last-child{
            margin-bottom: 0;
        }
        .article-lists{
            padding: 0 8px;
            li{
                margin-bottom: 25px;
                &:last-child{
                    margin-bottom: 0;
                }
                .article-item{
                    color: #444444;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    text-decoration: none;
                    .article-img{
                        display: flex;
                        flex: 0 0 30%;
                        max-width: 30%;
                    }
                    .article-tit{
                        flex: 0 0 70%;
                        max-width: 70%;
                        padding-left: 13px;
                        p{
                            font-weight: bold;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .category-lists{
            li{
                border-bottom: 2px solid #e2e2e2;
                margin-bottom: 15px;
                display: flex;
                &:last-child{
                    margin-bottom: 0;
                }
                a{
                    color: #444444;
                    font-size: 14px;
                    display: block;
                    margin-right: 10px;
                    padding-bottom: 8px;
                    padding-left: 10px;
                    text-decoration: none;
                    span{
                        margin-left: 5px;
                    }
                }
            }
        }
    }
    .sidebar-tit{
        border-bottom: 2px solid #e2e2e2;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 20px;
        padding: 5px 10px;
    }
}