.title {
	position: relative;
	text-align: center;
	color: $black100;
	letter-spacing: 2px;
	margin-bottom: 30px;
	@include txt(32, 30px, 800);
	&.is-typeB {
		font-size: 20px;
		margin-bottom: 0;
		@include mq(max, $default-container-md - 1) {
			font-size: 18px;
			margin-bottom: 10px;
			display: none;
		}
	}
	&.is-typeC {
		font-size: 44px;
		@include mq(max, $default-container-md - 1) {
			margin-bottom: 30px;
		}
		span {
			margin-top: 15px;
			font-size: 25px;
			@include mq(max, $default-container-md - 1) {
				display: inline-block;
			}
		}
	}
	&.titlev2{
		font-size: 25px;
		@include mq(max, 750){
			font-size: 18px;
			margin-bottom: 15px;
			text-align: left;
		}
	}
	span {
		// font-family: "Hiragino Sans";
		font-weight: 600;
		display: block;
		font-size: 14px;
		letter-spacing: 1px;
	}
}

.page-title{
	display: flex;
	align-items: center;
	&.titlev1{
		background: url('../img/bnr_company02.jpg') center center/ cover no-repeat;
		height: 300px;
		@include mq(max, 750){
			background: url('../img/bnr_company03.jpg') center center/ cover no-repeat;
			height: 150px;
		}
	}
	&.titlev2{
		background: url('../img/bnr_blog01.jpg') center center/ cover no-repeat;
		height: 300px;
		@include mq(max, 750){
			background: url('../img/bnr_blog01_sp.jpg') center center/ cover no-repeat;
			height: 150px;
		}
	}
	&.titlev3{
		background: url('../img/bnr_contact01.jpg') center center/ cover no-repeat;
		height: 300px;
		@include mq(max, 750){
			background: url('../img/bnr_contact01_sp.jpg') center center/ cover no-repeat;
			height: 150px;
		}
	}
	h2{
		color: #fff;
		display: inline-block;
		font-size: 35px;
		font-style: italic;
		padding-left: 25px;
		text-shadow: 2px 2px 2px #333;
		@include mq(max, 750){
			width: 100%;
			text-align: center;
			padding-left: 0;
		}
		span{
			display: table;
			font-size: 14px;
			font-weight: bold;
			font-style: normal;
			text-align: right;
			width: 100%;
			@include mq(max, 750){
				text-align: center;
			}
		}
	}
}